<%= form_for(@junior_consultant) do |f| %>
  <% if @junior_consultant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@junior_consultant.errors.count, "error") %> prohibited this junior_consultant from being saved:</h2>

      <ul>
      <% @junior_consultant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :user_id %>
    <% jc = @junior_consultant.persisted? ? @junior_consultant.name : '' %>
    <%= f.text_field :user_id, value: jc, class: 'jc_with_autocomplete input-xlarge',
                     'data-autocompleteUrl' => autocomplete_jc_name_junior_consultants_path, remote: true %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :reviewing_group_id %>
    <%= f.select :reviewing_group_id, format_all_for_select(ReviewingGroup) %>
  </div>
  <div>
    <%= f.label :coach_id %>
    <% coach = @junior_consultant.persisted? && !@junior_consultant.coach.nil? ? @junior_consultant.coach.name : '' %>
    <%= f.text_field :coach_id, value: coach, class: 'coach_with_autocomplete input-xlarge',
                      'data-autocompleteUrl' => autocomplete_coach_name_users_path, remote: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
