<%= form_for(@junior_consultant) do |f| %>
  <% if @junior_consultant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@junior_consultant.errors.count, "error") %> prohibited this junior_consultant from being saved:</h2>

      <ul>
      <% @junior_consultant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :user_id %>
    <%= f.select :user_id, alphabetically_sorted_user_names, :include_blank => "Select associated user"  %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :reviewing_group_id %>
    <%= f.select :reviewing_group_id, alphabetically_sorted_reviewing_groups  %>
  </div>
  <div>
    <%= f.label :coach_id %>
    <%= f.select :coach_id, alphabetically_sorted_user_names, :include_blank => "Select a coach"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
