<h1>Junior Consultants</h1>

<table class="datatable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Notes</th>
    <th>Coach</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @junior_consultants.each do |junior_consultant| %>
      <tr>
        <td><%= junior_consultant.name %></td>
        <td><%= junior_consultant.email %></td>
        <td><%= junior_consultant.notes %></td>
        <td><%= junior_consultant.coach ? (link_to junior_consultant.coach.name, user_path(junior_consultant.coach)) : "No coach assigned!" %></td>
        <td><%= link_to 'Edit', edit_junior_consultant_path(junior_consultant) %></td>
        <td><%= link_to 'Destroy', junior_consultant, method: :delete, data: { confirm: 'Are you sure? This will also delete all associated Reviews.' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Junior consultant', new_junior_consultant_path %>
<script>
    $('.datatable').dataTable();
</script>