<section class="form-container">
<%= nested_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>When creating a new user account for someone else, a welcome email will be sent to them.</p>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :okta_name %>
    <p class="help-text">This must match the username used to log in to OKTA.</p>
    <%= f.text_field :okta_name, value: @user.nil? ? "" : @user.okta_name %>
  </div>

  <% if current_user != @user %>
    <div class="field">
      <%= f.check_box :admin %> <%= f.label :admin, class: "checkbox" %>
    </div>

    <div class="field">
      <% if @user.ac? %>
        <%= check_box_tag 'isac', 'yes', true, disabled: true %> <%= f.label "Associate Consultant", class: "checkbox" %>
      <% else %>
        <%= check_box_tag 'isac' %> <%= f.label "Associate Consultant", class: "checkbox" %>
        <p class="help-text">Reviews will be created for new ACs if start date is not blank.</p>
      <% end %>
    </div>
    
    <section class="nested-form-container">
      <%= f.fields_for :associate_consultant %>
    </section>

  <% end %>

  <div class="actions">
    <%= f.submit "#{button_title}", :id => "user-form-submit" %>
  </div>

<% end %>
</section>
