<%= nested_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :start_date, "Start Date" %><br />
    <%= f.text_field :start_date, class: "datepicker", placeholder: "yyyy-mm-dd" %>
  </div>

  <div class="field">
    <%= f.label :okta_name %><br />
    <p class="help-text">This must match the username used to log in to OKTA.</p>
    <%= f.text_field :okta_name, value: @user.nil? ? "" : @user.okta_name %>
  </div>

  <% if current_user != @user %>
    <div class="field">
      <%= f.check_box :admin %> <%= f.label :admin, class: "checkbox" %>
    </div>

    <div class="field">
      <% if @user.ac? %>
        <%= check_box_tag 'isac', 'yes', true, disabled: true %> <%= f.label "Associate Consultant", class: "checkbox" %>
      <% else %>
        <%= check_box_tag 'isac' %> <%= f.label "Associate Consultant", class: "checkbox" %>
        <p class="help-text">Reviews will be created for new ACs if start date is not blank.</p>
      <% end %>
    </div>
    <%=f.fields_for :associate_consultant %>
  <% end %>

  <div class="actions">
    <%= f.submit "#{button_title}", class: "btn btn-info" %>
    <span class="separator">|</span>
    <%= link_to 'Cancel', users_path, class: "btn btn-link" %>
  </div>

<% end %>
