<div class="field">
  <%= f.check_box :graduated, disabled: "disabled" %>
  <%= f.label :graduated, class: "checkbox" %>
</div>

<div class="field">
  <%= f.label :program_start_date %>
  <%= f.text_field :program_start_date, class: "datepicker", placeholder: "yyyy-mm-dd" %>
</div>

<div class="field">
  <%= f.label :notes %>
  <%= f.text_area :notes %>
</div>

<div class="field">
  <%= f.label :reviewing_group_id %>
  <% if @user.associate_consultant.errors[:reviewing_group_id] %>
    <p class="field-error-message"><%= @user.associate_consultant.errors[:reviewing_group_id].first %></p>
  <% end %>
  <%= f.select :reviewing_group_id, format_all_for_select(ReviewingGroup), :include_blank => "Select Reviewing Group" %>
</div>

<div class="field">
  <%= f.label :coach_id, "Coach" %>
  <% if @user.associate_consultant.errors[:coach_id] %>
    <p class="field-error-message"><%= @user.associate_consultant.errors[:coach_id].first %></p>
  <% end %>
  <%= f.text_field :coach_id, "data-pre" => Array.wrap(@user.associate_consultant.coach).to_json %>
</div>
