<section class="form-container">
<%= nested_form_for @user do |f| %>

  <div class="field">
    <%= f.label :name %>
    <% if @user.errors[:name] %>
      <p class="field-error-message"><%= @user.errors[:name].first %></p>
    <% end %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <% if @user.errors[:email] %>
      <p class="field-error-message"><%= @user.errors[:email].first %></p>
    <% end %>
    <table class="email-address-table">
      <tr>
        <td class="email-address-column"> <%= @user.email %> </td>
        <td> <a class='fa fa-trash fa-lg fa-fw' style='float:right;'></a> </td>
      <tr>
      <% @user.additional_emails.each do |email| %>
        <%= render partial: 'additional_emails/additional_email',
          locals: { additional_email: email } %>
      <% end %>
    </table>
  </div>

  <div class="field" style="display:block" id="additional_email">
    <label> Add Email Address </label>
    <%= f.text_field :additional_emails, id:"new-email",
      style: "display: inline; width: 88%",
        name: "additional_emails", value: ""%>
    <%= link_to "Add", 'add_email', remote: true,
        class: "diet button add-email", id: "add-email"%>
  </div>

  <%= f.hidden_field :okta_name, value: current_okta_name %>

  <div class="actions">
    <%= f.submit "#{button_title}", id: "user-form-submit" %>
    <%= link_to "Cancel", users_path, class: "diet button" %>
  </div>

<% end %>

  <% if !signed_in? %>
    <div class="margin-top-30">
      <p>Already have an account? <%= link_to "Sign In", signin_path %></p>
    </div>
  <% end %>

</section>
