<div>
  <!-- <%= nested_form_for @user do |f| %> -->

  <div class="field" style="display:block" id="additional_email">
    <label> Add Additional Email </label>
    <%= f.text_field :additional_emails, id:"new-email",
    style: "display: inline; width: 88%",
    name: "additional_emails", value: "" %>
    <%= link_to "Add", 'add_email', remote: true,
    class: "diet button add-email", id: "add-email"%>
  </div>

  <div class="field">
    <table class="email-address-table">
      <tr>
        <td class="email-address-column"> <%= @user.email %> </td>
        <td>
          <%= link_to '', 'remove_email', remote: true,
            class: 'fa fa-trash fa-lg fa-fw', style: 'float:right;' %>
        </td>
      </tr>
      <% @user.additional_emails.each do |email| %>
        <%= render partial: 'additional_emails/additional_email',
          locals: { additional_email: email } %>
      <% end %>
    </table>
  </div>

  <%= f.hidden_field :okta_name, value: current_okta_name %>

  <!-- <% end %> -->

</div>
