<section class="form-container">
<%= nested_form_for @user do |f| %>

  <div class="field">
    <%= f.label :name %>
    <% if @user.errors[:name] %>
      <p class="field-error-message"><%= @user.errors[:name].first %></p>
    <% end %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <% if @user.errors[:email] %>
      <p class="field-error-message"><%= @user.errors[:email].first %></p>
    <% end %>
    <%= @user.email %>
  </div>

  <div class="field">
    <%= render partial: 'edit_profile' %>
  </div>

  <%= f.hidden_field :okta_name, value: current_okta_name %>

  <div class="actions">
    <%= f.submit "#{button_title}", :id => "user-form-submit" %>
    <%= link_to "Cancel", cancel_link, :class => "diet button" %>
  </div>

<% end %>

</section>
