<%= nested_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <% if signed_in? and current_user.admin? %>
    <div class="field">
      <%= f.label :okta_name %><br />
      <%= f.text_field :okta_name, value: @user.nil? ? "" : @user.okta_name %>
    </div>
  <% else %> 
    <%= f.hidden_field :okta_name, value: current_okta_name %>
  <% end %>

  <% if signed_in? and current_user.admin? and current_user != @user %> 
    <div class="field">

      <% if @user.jc? %>
        <%= check_box_tag 'isjc', 'yes', true, disabled: true %> <%= f.label "This user is a Junior Consultant" %>
      <% else %>
        <%= check_box_tag 'isjc' %> <%= f.label "This user is a Junior Consultant" %>
      <% end %>

    </div>

    <%= f.fields_for :junior_consultant %>

  <% end %>

  <div class="actions">
    <%= f.submit "#{button_title}" %>
  </div>

<% end %>

