<h1>Completed Feedback</h1>

<div class="new-review">
  <%= link_to "View Feedback in Progress", feedbacks_user_path(current_user), :class => "diet button" %>
</div>

<div class="form-container">
<table id="completeds">
  <thead>
    <tr>
      <th>Reviewee</th>
      <th>Review Type</th>
      <th>Project</th>
      <th>Date Finished</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @completeds.each do |completed| %>
      <% review = completed.review %>

      <tr>
        <td><%= review.associate_consultant %></td>
        <td><%= review.review_type %></td>
        <td><%= completed.project_worked_on %></td>
        <td><%= completed.updated_at.to_date.to_s(:short_date) %></td>
        <td class="nowrap button-col">
          <%= link_to "",
            review_feedback_path(review, completed),
            class: "fa fa-eye fa-lg fa-fw",
            title: "View" %><br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
  $('#completeds').DataTable({
    paging: false,
    info: false,
    searching: false,
    lengthChange: false,
    columnDefs: [
      { orderable: false, targets: [4] }
    ]
  });
</script>
