<% provide(:title, "Feedback Requests") %>

<h1>Feedback Requests</h1>

<table id="feedbacks">
  <thead>
    <tr>
      <th>Reviewee</th>
      <th>Review Type</th>
      <th>Project worked on</th>
      <th>Date Updated</th>
      <th>Invitation Sent</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <% review = feedback.review %>
      <tr>
        <td><%= review.junior_consultant %></td>
        <td><%= review.review_type %></td>
        <td><%= feedback.project_worked_on %></td>
        <td><%= feedback.updated_at.to_date %></td>
        <td><%= review.feedback_deadline %></td>
        <% if feedback.submitted? %>
          <td>Submitted</td>
          <td><%= link_to "View", review_feedback_path(review, feedback) %></td>
        <% else %>
          <td>Not Submitted</td>
          <td><%= link_to "Continue", edit_review_feedback_path(review, feedback) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('#feedbacks').dataTable({
    bJQueryUI: true,
    aoColumnDefs: [
      { bSortable: false, aTargets: [6] }
    ]
  });
</script>
