<h1>Feedback Requests</h1>

<div class="new-review">
  <%= link_to "View Completed Feedback", completed_feedback_user_path(current_user), :class => "diet button" %>
</div>

<div class="form-container">
<table id="feedback-requests">
  <thead>
    <tr>
      <th>Reviewee</th>
      <th>Review Type</th>
      <th>Deadline</th>
      <th>Last Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
      <% review = invitation.review %>
      <tr>
        <td><%= review.associate_consultant %></td>
        <td><%= review.review_type %></td>
        <td><%= review.feedback_deadline.to_s(:short_date) %></td>
        <td></td>
        <td class="nowrap button-col">
          <ul>
            <li>
              <%= link_to "", new_review_feedback_path(review),
                class: "fa fa-play fa-lg fa-fw",
                title: "Start feedback" %>
            </li>
            <li>
              <%= link_to "",
                review_invitation_path(review, invitation),
                class: "fa fa-trash fa-lg fa-fw",
                title: "Decline",
                method: :delete,
                confirm: "Are you sure you want to decline "\
                  "#{review.associate_consultant}'s feedback request? "\
                  "#{review.associate_consultant} will receive an email "\
                  "saying that you have declined the request." %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>

    <% @feedbacks.each do |feedback| %>
      <% review = feedback.review %>

      <tr>
        <td><%= review.associate_consultant %></td>
        <td><%= review.review_type %></td>
        <td><%= review.feedback_deadline.to_s(:short_date) %></td>
        <td><%= feedback.updated_at.to_s(:short_date) %></td>
        <td class="nowrap button-col">
          <ul>
            <li>
              <%= link_to "", edit_review_feedback_path(review, feedback),
                class: "fa fa-pencil fa-lg fa-fw",
                title: "Edit" %>
            </li>
            <% if can? :destroy, feedback %>
              <li class="nowrap button-col">
                <%= link_to '', review_feedback_path(feedback.review, feedback),
                  id: "feedback_#{feedback.id}_delete",
                  data: { confirm: "Are you sure you want to delete the feedback you started for #{review.associate_consultant}? The invitation will not be deleted, so you will have the opportunity to start your feedback over again." },
                  method: :delete, class: "fa fa-trash fa-lg fa-fw",
                  title: "Delete" %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
