<% provide(:title, "Feedback Requests") %>

<h1>New Invitations</h1>

<table id="invitations">
  <thead>
    <tr>
      <th>Reviewee</th>
      <th>Review Type</th>
      <th>Invitation Sent</th>
      <th>Feedback Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
      <% review = invitation.review %>
      <tr>
        <td><%= review.associate_consultant %></td>
        <td><%= review.review_type %></td>
        <td><%= invitation.sent_date %></td>
        <td><%= review.feedback_deadline %></td>
        <td class="button-col">
          <ul>
            <li>
              <%= link_to "Start Feedback", new_review_feedback_path(review), class: "button link" %>
            </li>
            <li>
              <%= link_to "Decline invitation", review_invitation_path(review, invitation), class: "button link", :method => :delete %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h1>Unfinished Feedback</h1>

<table id="feedbacks">
  <thead>
    <tr>
      <th>Reviewee</th>
      <th>Review Type</th>
      <th>Project worked on</th>
      <th>Date Updated</th>
      <th>Deadline</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.includes(:review, {:review => :associate_consultant}).each do |feedback| %>
      <% review = feedback.review %>

      <tr>
        <td><%= review.associate_consultant %></td>
        <td><%= review.review_type %></td>
        <td><%= feedback.project_worked_on %></td>
        <td><%= feedback.updated_at.to_date %></td>
        <td><%= review.feedback_deadline %></td>
        <td><%= link_to "Resume Feedback", edit_review_feedback_path(review, feedback), class: "button link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h1>Completed Feedback</h1>

<table id="completeds">
  <thead>
    <tr>
      <th>Reviewee</th>
      <th>Review Type</th>
      <th>Project worked on</th>
      <th>Date Finished</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @completeds.includes(:review, {:review => :associate_consultant}).each do |completed| %>
      <% review = completed.review %>

      <tr>
        <td><%= review.associate_consultant %></td>
        <td><%= review.review_type %></td>
        <td><%= completed.project_worked_on %></td>
        <td><%= completed.updated_at.to_date %></td>
        <td>
          <%= link_to "View Feedback", review_feedback_path(review, completed), class: "button link" %><br>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br class="spacer" />
<br class="spacer" />

<script>
  $('#feedbacks').dataTable({
    bPaginate: false,
    bInfo: false,
    bFilter: false,
    bLengthChange: false,
    aoColumnDefs: [
      { bSortable: false, aTargets: [5] }
    ]
  });
</script>

<script>
  $('#invitations').dataTable({
    bPaginate: false,
    bInfo: false,
    bFilter: false,
    bLengthChange: false,
    aoColumnDefs: [
      { bSortable: false, aTargets: [4] }
    ]
  });
</script>

<script>
  $('#completeds').dataTable({
    bPaginate: false,
    bInfo: false,
    bFilter: false,
    bLengthChange: false,
    aoColumnDefs: [
      { bSortable: false, aTargets: [4] }
    ]
  });
</script>
