<% provide(:title, "#{@user.name}") %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p id="isAC">
  <b>Associate Consultant:</b>
  <%= @user.ac? %>
</p>


<% if @user.ac? %>
  <p id="hasGraduated">
    <b>Graduated:</b>
    <%= @user.associate_consultant.hasGraduated? %>
  </p>

  <p id="program-start-date">
    <b>Program Start Date:</b>
    <% unless @user.associate_consultant.program_start_date.nil? %>
      <%= @user.associate_consultant.program_start_date.strftime(Date::DATE_FORMATS[:short_date]) %>
    <% end %>
  </p>

  <p id="notes">
    <b>Notes:</b>
    <%= @user.associate_consultant.notes %>
  </p>

  <p id="reviewing-group">
    <b>Reviewing Group:</b>
    <%= @user.associate_consultant.reviewing_group %>
  </p>

  <p id="coach">
    <b>Coach:</b>
    <%= @user.associate_consultant.coach %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
