<%= form_for([@review, @self_assessment]) do |f| %>
  <% if @self_assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@self_assessment.errors.count, "error") %> prohibited this self_assessment from being saved:</h2>

      <ul>
      <% @self_assessment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= @review %></h2>
  </div>
  <div class="field">
    <%= f.label :response %><br />
    <%= f.text_area :response %>
  </div>
  <div class="actions">
    <%= f.submit "#{button_title}", :class => "btn btn-info" %>
    <span class="separator">|</span>
    <%= link_to 'Cancel', summary_review_path(@review), class: "btn btn-link" %>
  </div>
<% end %>
