<h2><%= @review.pretty_print_with(current_user) %></h2>

<div class="container">
  <%= render :partial => "reviews/sidenav", :locals => { :review => @review } %>

  <div class="main-content">
<section class="form-container">
<%= form_for([@review, @self_assessment]) do |f| %>

  <div class="field">
    <%= f.label :response, 'Performance Assessment' %>
    <%= f.text_area :response %>
  </div>

  <div class="field">
    <%= f.label :learning_assessment, 'Learning Assessment' %>
    <%= f.text_area :learning_assessment %>
  </div>

  <div class="actions">
    <%= f.submit "#{button_title}" %>
  </div>
<% end %>
</section>
<div>
</div>
