<h1>Listing self_assessments</h1>

<table>
  <tr>
    <th>Review</th>
    <th>Junior consultant</th>
    <th>Response</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @self_assessments.each do |self_assessment| %>
  <tr>
    <td><%= self_assessment.review %></td>
    <td><%= self_assessment.junior_consultant %></td>
    <td><%= self_assessment.response %></td>
    <td><%= link_to 'Show', self_assessment %></td>
    <td><%= link_to 'Edit', edit_self_assessment_path(self_assessment) %></td>
    <td><%= link_to 'Destroy', self_assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Self assessment', new_self_assessment_path %>
