<tr>
  <%= nested_form_for @user do |f| %>
    <td class='email-address-column', id= "<%= additional_email.id %>" >
      <%= additional_email.email %>
      <% if additional_email.errors.any? %>
        <p class="field-error-message">
          <%= additional_email.errors.full_messages.first %>
        </p>
      <% end %>
    </td>
    <td>
      <a class="fa fa-trash fa-lg fa-fw remove-additional-email"
            style="float:right;" id="<%=additional_email.id%>"></a>
    </td>
  <% end %>
</tr>
