<h1>Review Site Homepage</h1>

<% if can? :create, Review %>
    <div class="new-review"><%= link_to 'New Review', new_review_path, :class => 'btn btn-info' %></div>
<% end %>

<% if @invitations_received.count > 0 %>
  <h2>Provide Feedback For</h2>
  <%= render :partial => 'invitations/invitations_received' %>
<% end %>

<% if @invitations_sent.count > 0 %>
  <h2>Feedback Invitations Sent</h2>
  <%= render :partial => 'invitations/invitations_sent' %>
<% end %>

<% if @reviews.count > 0 %>
    <h2>Reviews</h2>
    <%= render :partial => 'reviews/reviews' %>
<% end %>

<br />

<% if @feedbacks.count > 0 %>
  <h2>Feedback on Reviews</h2>
  <%= render :partial => 'feedbacks/feedbacks' %>
<% end %>

