<table class="invitations_sent">
  <thead>
    <% if current_user.admin? %>
      <th>Reviewee</th>
    <% end %>
    <th>Invited</th>
    <th>Review Type</th>
    <th>Invitation Sent</th>
    <th>Feedback Deadline</th>
    <th>Status</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @invitations_sent.includes(:review, :feedback).each do |invitation| %>
      <tr>
        <% if current_user.admin? %>
          <td><%= invitation.reviewee %></td>
        <% end %>
        <td><%= invitation.email %></td>
        <td><%= invitation.review.review_type %></td>
        <td><%= invitation.sent_date %></td>
        <td><%= invitation.review.feedback_deadline %></td>

        <% if invitation.feedback.nil? %>
          <td>Not Started</td>
          <td><%= link_to 'Send Reminder',
                    send_reminder_review_invitation_path(invitation.review, invitation),
                    data: {confirm: "This will send an email to #{invitation.email}.\nAre you sure you want to?"},
                    method: :post %></td>
        <% elsif invitation.feedback.submitted? %>
          <td>Submitted</td>
          <td><%= link_to 'View', review_feedback_path(invitation.review, invitation.feedback) %></td>
        <% else %>
          <td>Not Submitted</td>
          <td><%= link_to 'Send Reminder',
                    send_reminder_review_invitation_path(invitation.review, invitation),
                    data: {confirm: "This will send an email to #{invitation.email}.\nAre you sure you want to?"},
                    method: :post %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br class="spacer" />
<script>
  $('.invitations_sent').dataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false
    });
</script>
