<% provide :title, 'Invite reviewer' %>
<h1>Invite Reviewer</h1>

<%= form_tag review_invitations_path(@review), method: "post" do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% @invitation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p><b>To (Email):</b></p>
<p><%= text_field_tag :email %></p>

<p><b>Subject:</b> You've been invited to give feedback for <%= @jc.name %>.</p>

<p><b>Body (Please add a personal note):</b></p>
<% @default_body = <<-EOM
  You have been invited to provide feedback. Please visit #{new_review_feedback_url(@review)}

  Name: #{@review.junior_consultant}
  Review Type: #{@review.review_type}
  Deadline: #{@review.feedback_deadline}
EOM
%>

<%= text_area_tag :message, @default_body %>

<%= submit_tag "Send invite", class: 'btn btn-large btn-primary' %>
<% end %>
