<% provide :title, 'Invite reviewer' %>
<h1>Invite Reviewer</h1>

<% if @invitation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

    <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag review_invitations_path(@review), method: "post" do |f| %>
  <p><%= label_tag :no_email, class:"checkbox" do %>
    <%= check_box_tag :no_email, "1" %> Do not send an email notification. (Your reviewer will still see the invitation when they log into the site.) &nbsp; &nbsp;<% end %></p>

  <br/>
<p>
  <%= label_tag :username, "To:", class: "nofloat" %>
  <%= text_field_tag :username, nil, class: "short" %> @ thoughtworks.com
</p>
  <div id="email_contents">
    <p><%= label_tag :subject, "Subject:" %>
    <%= text_field_tag :subject, "You've been invited to give feedback for #{@jc.user.name}."  %></p>

    <p><%= label_tag :message, "Body (Please add a personal note):" %></p>
    <% @default_body = <<-EOM
You have been invited to provide feedback. Please visit #{new_review_feedback_url(@review)}

Name: #{@review.junior_consultant}
Review Type: #{@review.review_type}
Deadline: #{@review.feedback_deadline}
  EOM
    %>

    <%= text_area_tag :message, @default_body %>
  </div>
<br>
  <%= submit_tag "Create Invitation", class: 'btn btn-large btn-primary' %>
<% end %>

<script>
$(document).ready(function($) {
  $("input[type=checkbox]").click(function() {
    $("div#email_contents").slideToggle();
  })
})
</script>
