<h1>Ask for Feedback</h1>
<h2><%= @review.pretty_print_with(current_user) %></h2>

<div class="container">
  <%= render :partial => "reviews/sidenav", :locals => { :review => @review } %>
  <div class="main-content">
<section class="form-container">
<%= form_tag review_invitations_path(@review), method: "post" do |f| %>
  <p><%= label_tag :no_email, class:"checkbox" do %>
    <%= check_box_tag :no_email, "1" %> Do not send an email notification. (Your reviewer will still see a notification when they log in.)<% end %></p>

  <br/>
<div class="field">
  <%= label_tag :emails, "To:", class: "nofloat" %>
  <% if @invitation.errors[:emails] %>
    <p class="field-error-message"><%= @invitation.errors[:emails].first %></p>
  <% end %>
  
  <p class="help-text">Must have an '@thoughtworks.com' email address; separate multiple emails with ','</p>
  <%= text_field_tag :emails, nil, class: "long" %>
</div>

<div id="email_contents">
  <p>
    <%= label_tag :copy_sender, class:"checkbox" do %>
      <%= check_box_tag :copy_sender, "1" %>Send me a copy of the request
    <% end %>
  </p>

  <div class="field">
    <%= label_tag :subject, "Subject:" %>
    <p>[ReviewSite] You've been asked to give feedback for <%= @ac.user.name %></p>
  </div>

      <%= label_tag :message, "Body:" %>
      <% @default_body = <<-EOM
  You have been asked to provide feedback for #{@ac.user.name}. In order to access the site, please add the "Labs: TW Review Site" app in your Okta dashboard.
  Once you've added the app, please visit #{new_review_feedback_url(@review)} to add and submit your feedback.

  Name: #{@review.associate_consultant}
  Review Type: #{@review.review_type}
  Deadline: #{@review.feedback_deadline}
    EOM
      %>

      <%= text_area_tag :message, @default_body %>

  </div>
    <%= submit_tag "Send", id: "send-request" %>
  <% end %>
  </section>
  </div>
</div>
