<table class="feedback">
  <thead>
  <tr>
    <th>Reviewer</th>
    <th>Project worked on</th>
    <th>Date Updated</th>
    <th>Invitation Sent</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% feedbacks.each do |feedback| %>
    <tr>
      <td><%= feedback.reviewer %></td>
      <td><%= feedback.project_worked_on %></td>
      <td><%= feedback.updated_at.to_date %></td>
      <td>
      <% if feedback.invitation %>
        <%= feedback.invitation.sent_date %>
      <% end %>
      </td>
      <% if feedback.submitted %>
          <td class="feedback_submitted">Submitted</td>
      <% else %>
          <td class="feedback_not_submitted">Not Submitted</td>
      <% end %>
          <td>|
            <% if (not feedback.submitted?) and (not feedback.is_additional) %>
              <%= link_to 'Send Reminder',
                  send_reminder_review_feedback_path(feedback.review, feedback),
                  data: {confirm: "This will send an email to #{feedback.user.email}.\nAre you sure you want to?"},
                  method: :post %> |
            <% end %>
            <%  if can? :submit, feedback %>
                  <%= link_to 'Submit', submit_review_feedback_path(feedback.review, feedback), method: :put %> |
                <% elsif can? :unsubmit, feedback %>
                  <%= link_to 'Unsubmit', unsubmit_review_feedback_path(feedback.review, feedback), method: :put  %> |
            <% end %>
            <% if can? :edit, feedback %>
              <%= link_to 'Edit', edit_review_feedback_path(feedback.review, feedback), id:"feedback_#{feedback.id}_edit" %> |
            <% end %>
            <% if can? :show, feedback %>
              <%= link_to 'Show', [feedback.review, feedback] %> |
            <% end %>
          </td> 
      
    </tr>
  <% end %>

  <% invitations.each do |invitation| %>
    <% if invitation.feedback.nil? %>
    <tr>
      <td><%= invitation.email %></td>
      <td></td>
      <td></td>
      <td><%= invitation.sent_date %></td>
      <td>Not Started</td>
      <td>| <%= link_to 'Send Reminder',
                  send_reminder_review_invitation_path(invitation.review, invitation),
                  data: {confirm: "This will send an email to #{invitation.email}.\nAre you sure you want to?"},
                  method: :post %> |
      </td>
    </tr>
    <% end %>
  <% end %>


  </tbody>
</table>

<br class="spacer" />

<script>
  $('.feedback').dataTable({
    bJQueryUI: true,
    aoColumnDefs: [
      { bSortable: false, aTargets: [5] }
    ],
    <%# bLengthChange: false, %>
    <%# bFilter: false, %>
    bInfo: false,
    bRetrieve: true, 
    bDestroy: true
    });
</script>
