<table class="feedback">
  <thead>
  <tr>
    <th>Reviewer</th>
    <th>Project</th>
    <th>Invite Sent</th>
    <th>Updated</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% feedbacks.includes(:user, :review).each do |feedback| %>
    <tr>
      <td><%= feedback.reviewer %></td>
      <td><%= feedback.project_worked_on %></td>
      <td>
      <% if feedback.invitation %>
        <%= feedback.invitation.sent_date.to_s(:short_date) %>
      <% end %>
      </td>

      <td><%= feedback.updated_at.to_date.to_s(:short_date) %></td>

      <td class="nowrap">
        <% if feedback.submitted %>
          <span class="fa fa-lock fa-fw"></span> Submitted
        <% else %>
          <span class="fa fa-unlock fa-fw"></span> Not Submitted
        <% end %>
      </td>
      <td class="nowrap button-col">
        <ul>
          <% if (not feedback.submitted?) and (not feedback.is_additional) %>
            <li>
              <%= link_to '',
                send_reminder_review_feedback_path(feedback.review, feedback),
                data: {
                  confirm: "This will send a reminder email to #{feedback.user.email}.\nAre you sure you want to?"
                },
                method: :post,
                class: "fa fa-envelope fa-lg fa-fw",
                title: "Send reminder"
              %>
            </li>
          <% end %>
          <%  if can? :submit, feedback %>
            <li> <%= link_to '', submit_review_feedback_path(feedback.review, feedback), method: :put, class: "fa fa-lock fa-lg fa-fw", title: "Submit" %></li>
              <% elsif can? :unsubmit, feedback %>
            <li> <%= link_to '', unsubmit_review_feedback_path(feedback.review, feedback), method: :put, class: "fa fa-unlock fa-lg fa-fw", title: "Unsubmit" %></li>
          <% end %>
          <% if can? :edit, feedback %>
            <li> <%= link_to '', edit_review_feedback_path(feedback.review, feedback), id:"feedback_#{feedback.id}_edit", class: "fa fa-pencil fa-lg fa-fw", title: "Edit" %></li>
          <% end %>
          <% if can? :show, feedback %>
            <li><%= link_to '', [feedback.review, feedback], class: "fa fa-eye fa-lg fa-fw", title: "View" %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>

  <% invitations.includes(:review).each do |invitation| %>
    <% if invitation.feedback.nil? %>
    <tr>
      <td><%= invitation.email %></td>
      <td></td>
      <td><%= invitation.sent_date.to_s(:short_date) %></td>
      <td></td>
      <td class="nowrap"><span class="fa fa-lock fa-fw fa-hidden"></span> Not Started</td>
      <td class="nowrap button-col">
        <ul>
          <li>
            <%= link_to '',
              send_reminder_review_invitation_path(invitation.review, invitation),
              data: {confirm: "This will send a reminder email to #{invitation.email}.\nAre you sure you want to?"},
              method: :post, class: "fa fa-envelope fa-lg fa-fw",
              title: "Send reminder"
            %>
          </li>
          <li>
            <%= link_to '',
              review_invitation_path(invitation.review, invitation),
              data: { confirm: "Are you sure you no longer want feedback from #{invitation.email}?" },
              method: :delete, class: "fa fa-trash fa-lg fa-fw",
              title: "Delete"
            %>
          </li>
        </ul>
      </td>
    </tr>
    <% end %>
  <% end %>

  </tbody>
</table>

<script>
  $('.feedback').DataTable({
    columnDefs: [
      { orderable: false, targets: [5] }
    ],
    paging: false,
    lengthChange: false,
    searching: false,
    info: false
    });
</script>
