<table id="feedback-received" class="feedback">
  <thead>
  <tr>
    <th>Reviewer</th>
    <th>Project</th>
    <th>Invite Sent</th>
    <th>Updated</th>
    <th>Status</th>
    <th class="nowrap button-col"><%= link_to '',
                    send_reminder_to_all_review_path(review),
                    data: {
                        confirm: "This will send a reminder email to everyone who still needs to submit feedback to you.\nAre you sure you want to?"
                    },
                    method: :post,
                    class: "fa fa-envelope fa-lg fa-fw fa-remind-all",
                    title: "Remind everyone"
    %></th>
    <th class="nowrap button-col"></th>
    <th class="nowrap button-col"></th>
  </tr>
  </thead>
  <tbody>
  <% feedbacks.includes(:user, :review).each do |feedback| %>
    <tr>
      <td><%= feedback.reviewer %></td>
      <td><%= feedback.project_worked_on %></td>
      <td>
      <% if feedback.invitation %>
        <%= feedback.invitation.sent_date.to_s(:short_date) %>
      <% end %>
      </td>

      <td><%= feedback.updated_at.to_date.to_s(:short_date) %></td>

      <td class="nowrap">
        <% if feedback.submitted %>
          <span class="fa fa-lock fa-fw"></span> Submitted
        <% else %>
          <span class="fa fa-unlock fa-fw"></span> Not Submitted
        <% end %>
      </td>
      <td class="nowrap button-col">
          <% if (not feedback.submitted?) and (not feedback.is_additional) and (can? :send_reminder, feedback) %>
              <%= link_to '',
                send_reminder_review_feedback_path(feedback.review, feedback),
                data: {
                  confirm: "This will send a reminder email to #{feedback.user.email}.\nAre you sure you want to?"
                },
                method: :post,
                class: "fa fa-envelope fa-lg fa-fw",
                title: "Send reminder"
              %>
          <%else%>
            <% if can? :edit, feedback %>
                <% if feedback.is_additional %>
                    <%= link_to '', edit_additional_review_feedback_path(feedback.review, feedback), id:"feedback_#{feedback.id}_edit", class: "fa fa-pencil fa-lg fa-fw", title: "Edit" %>
                <% else %>
                    <%= link_to '', edit_review_feedback_path(feedback.review, feedback), id:"feedback_#{feedback.id}_edit", class: "fa fa-pencil fa-lg fa-fw", title: "Edit" %>
                <% end %>
            <%else%>
                <a class="fa fa-envelope fa-lg fa-fw fa-disabled"></a>
            <% end %>
          <% end %>
      </td>
      <td class="nowrap button-col">
        <% if can? :show, feedback %>
          <%= link_to '', [feedback.review, feedback], class: "fa fa-eye fa-lg fa-fw", title: "View" %>
        <%else%>
          <a class="fa fa-eye fa-lg fa-fw fa-disabled"></a>
        <% end %>
      </td>
      <td class="nowrap button-col">
        <% if can? :destroy, feedback %>
          <%= link_to '', review_feedback_path(feedback.review, feedback),
                          id: "feedback_#{feedback.id}_delete",
                          data: { confirm: "Are you sure you want to delete the feedback you recorded from #{feedback.reviewer.titleize}?" },
                          method: :delete, class: "fa fa-trash fa-lg fa-fw",
                          title: "Delete" %>
        <%else%>
            <a class="fa fa-trash fa-lg fa-fw fa-disabled"></a>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% invitations.includes(:review).each do |invitation| %>
    <% if invitation.feedback.nil? %>
    <tr>
      <td><%= invitation.email %></td>
      <td></td>
      <td><%= invitation.sent_date.to_s(:short_date) %></td>
      <td></td>
      <td class="nowrap"><span class="fa fa-lock fa-fw fa-hidden"></span> Not Started</td>
      <td class="nowrap button-col">
        <% if can? :send_reminder, invitation %>
          <%= link_to '',
            send_reminder_review_invitation_path(invitation.review, invitation),
            data: {confirm: "This will send a reminder email to #{invitation.email}.\nAre you sure you want to?"},
            method: :post, class: "fa fa-envelope fa-lg fa-fw",
            title: "Send reminder"
          %>
        <% end %>
      </td>
      <td class="nowrap button-col">
        <a class="fa fa-eye fa-lg fa-fw fa-disabled"></a>
      </td>
      <td class="nowrap button-col">
        <% if can? :destroy, invitation %>
          <%= link_to '',
                      review_invitation_path(invitation.review, invitation),
                      data: { confirm: "Are you sure you no longer want feedback from #{invitation.email}?" },
                      method: :delete, class: "fa fa-trash fa-lg fa-fw",
                      title: "Delete"
          %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>

  </tbody>
</table>
