<table class="feedback">
  <thead>
  <tr>
    <th>Reviewer</th>
    <th>Project worked on</th>
    <th>Date Updated</th>
    <th>Invitation Sent</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% feedbacks.includes(:user, :review).each do |feedback| %>
    <tr>
      <td><%= feedback.reviewer %></td>
      <td><%= feedback.project_worked_on %></td>
      <td><%= feedback.updated_at.to_date %></td>
      <td>
      <% if feedback.invitation %>
        <%= feedback.invitation.sent_date %>
      <% end %>
      </td>

      <td class="nowrap">
        <% if feedback.submitted %>
            Submitted
        <% else %>
            Not Submitted
        <% end %>
      </td>
      <td class="nowrap button-col">
        <ul>
          <% if (not feedback.submitted?) and (not feedback.is_additional) %>
            <li> <%= link_to '',
                send_reminder_review_feedback_path(feedback.review, feedback),
                data: {confirm: "This will send a reminder email to #{feedback.user.email}.\nAre you sure you want to?"}, method: :post, class: "fa fa-send fa-lg fa-fw" %></li>
          <% end %>
          <%  if can? :submit, feedback %>
            <li> <%= link_to '', submit_review_feedback_path(feedback.review, feedback), method: :put, class: "fa fa-lock fa-lg fa-fw" %></li>
              <% elsif can? :unsubmit, feedback %>
            <li> <%= link_to '', unsubmit_review_feedback_path(feedback.review, feedback), method: :put, class: "fa fa-unlock fa-lg fa-fw"  %></li>
          <% end %>
          <% if can? :edit, feedback %>
            <li> <%= link_to '', edit_review_feedback_path(feedback.review, feedback), id:"feedback_#{feedback.id}_edit", class: "fa fa-pencil fa-lg fa-fw" %></li>
          <% end %>
          <% if can? :show, feedback %>
            <li><%= link_to '', [feedback.review, feedback], class: "fa fa-eye fa-lg fa-fw" %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>

  <% invitations.includes(:review).each do |invitation| %>
    <% if invitation.feedback.nil? %>
    <tr>
      <td><%= invitation.email %></td>
      <td></td>
      <td></td>
      <td><%= invitation.sent_date %></td>
      <td class="nowrap">Not Started</td>
      <td class="nowrap button-col">
        <ul>
          <li><%= link_to '',
                  send_reminder_review_invitation_path(invitation.review, invitation),
                  data: {confirm: "This will send a reminder email to #{invitation.email}.\nAre you sure you want to?"},
                  method: :post, class: "fa fa-send fa-lg fa-fw" %>
          </li>
          <li><%= link_to '',
                  review_invitation_path(invitation.review, invitation),
                  data: {confirm: "Are you sure you want to delete your invitation to #{invitation.email}?"},
                  method: :delete, class: "fa fa-trash fa-lg fa-fw" %>
          </li>
        </ul>
      </td>
    </tr>
    <% end %>
  <% end %>

  </tbody>
</table>

<br class="spacer" />

<script>
  $('.feedback').dataTable({
    aoColumnDefs: [
      { bSortable: false, aTargets: [5] }
    ],
    bPaginate: false,
    bLengthChange: false,
    bFilter: false,
    bInfo: false,
    bRetrieve: true,
    bDestroy: true
    });
</script>
