<%= form_for([@review, @feedback]) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="instructions">
    <p>Thanks for providing feedback for <%= @review.associate_consultant %>!</p>

    <p>Need a little inspiration? Take a look at some <a href="https://docs.google.com/a/thoughtworks.com/spreadsheet/ccc?key=0AjfbOrpXgxXYdC0yWldQdjVFTEJlcldLc2JpZVBNVWc&hl=en_US#gid=0">example feedback</a>. <b>There is no need to include responses in all categories in the form below if it does not apply.</b></p>

    <p>Make sure to save what you have so far by clicking the 'Save Feedback' button. When you are ready to share your feedback with others, you can submit your feedback as final. Once you click 'Submit Final', you will no longer be able to come back and make changes to your feedback.</p>
  </div>

  <br />
  <div class="row-fluid">
    <div class="span3">
      <div class="field">
        <%= f.label "Feedback by" %>
        <% if not additional %>
          <%= @user_name %>
        <% else %>
          <%= f.text_field :user_string %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :project_worked_on %><br />
        <%= f.text_field :project_worked_on %>
      </div>

      <div class="field">
        <%= f.label :feedback_deadline %><br />
        <%= f.text_field :feedback_deadline, :value => @review.feedback_deadline, :disabled => true%>
      </div>

      <div class="field">
        <%= f.label :role_description %><br />
        <%= f.text_field :role_description %>
      </div>
    </div>

    <div class="span9">
      <div id="accordion">
        <% @review.headings.each do |heading| %>
            <h3 id="review_<%= @review.heading_title(heading).downcase.split(" ").join("_") %>"><%= @review.heading_title(heading) %></h3>
            <div>
              <%= raw @review.description(heading) %>
              <% @review.fields_for_heading(heading).each do |field| %>
                <div class="field">
                  <%= f.label field %><br />
                  <%= f.text_area field %>
                </div>
              <% end %>
              <% if @review.has_scale(heading) %>
                <div class="scale">
                  <%= f.label @review.scale_field(heading), "Please use a scale to prioritize areas you feel the reviewee should focus on." %>
                  <%= f.select @review.scale_field(heading), feedback_priorities, {:include_blank => "Select a scale"}, {:class => "feedback_scale" } %>
                </div>
              <% end %>
              <%= f.submit 'Save Feedback', :class => "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <br /><br />
      <div class="actions">
        <%= f.submit 'Save Feedback', :class => "btn btn-primary", :id => "save_feedback" %>
        <%= f.submit 'Submit Final', {:class => "btn btn-success", :id => "submit_final", :name => "submit_final_button", :confirm => 'Once Submitted, you cannot change this feedback' } %>
        <%= link_to 'Cancel', review_path(@review), :class => "btn btn-link" %>
      </div>
    </div>
  </div>
<% end %>
<script>
  $('#instructions-label').click(function() {
    $('#instructions').slideToggle();
  });
</script>
