<%= form_for([@review, @feedback]) do |f| %>

  <div class="feedback-form-container">
    <section class="review-descriptions">
      <div id="accordion">
        <% @review.headings.each do |heading| %>
          <% if @review.is_comments_header(heading) %>
            <h3 class="comments-icon" data-heading-title="comments"><%= @review.heading_title(heading) %></h3>
            <div class="comments-description"></div>
            <% next %>
          <% end %>
          <h3 data-heading-title="<%= @review.prepare_heading_html_attribute(heading)%>"><%= @review.heading_title(heading) %></h3>
          <div>
            <%= raw @review.description(heading) %>
          </div>
        <% end %>
      </div>
    </section>
    <section class="feedback-form">
      <% @review.headings.each do |heading| %>
        <section class="hidden" id="<%= @review.prepare_heading_html_attribute(heading) %>">

        <% if(@review.is_comments_header(heading)) %>
          <div class="field">
            <%= f.label 'project_worked_on', t('feedback.project_worked_on') %>
            <%= f.text_field :project_worked_on %>
          </div>

          <div class="field">
            <%= f.label 'role_description', t('feedback.role_description') %>
            <%= f.text_field :role_description %>
          </div>

          <div class="field">
            <div class="ideaListHeader comments-label"><b><%= t('feedback.fast_feedback') %></b></div>
            <%= f.label t('feedback.share_thoughts') %>
            <%= f.text_area :comments %>
          </div>
        <% end %>

        <% @review.fields_for_heading(heading).each do |field| %>
          <% next if(@review.is_comments_header(heading)) %>
          <div class="field">
            <%= f.label field %>
            <%= f.text_area field %>
          </div>
        <% end %>
        </section>
      <% end %>
      <div class="actions">
        <%= f.submit 'Save as Draft', { :class => "diet", :id => "save-feedback-button" } %>
        <%= link_to 'Continue', '#', :onclick => "openNextAccordionPanel()", class: "button diet", id: "continue-button" %>
        <div class="pull-right">
          <%= f.submit 'Preview & Submit', {:class => "success", :id => "preview-and-submit-button", :name => "preview_and_submit_button"} %>
        </div>
      </div>
    </section>
  </div>
<% end %>
