<%= form_for([@review, @feedback]) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label id="instructions-label">Click to view instructions.</label><br/><br/>

  <div id="instructions">
    <p><a href="https://docs.google.com/a/thoughtworks.com/spreadsheet/ccc?key=0AjfbOrpXgxXYdC0yWldQdjVFTEJlcldLc2JpZVBNVWc&hl=en_US#gid=0">See example feedback here</a></p>

    <p>For each section, please read the detailed description in the section header. 
    This will give you more detail for the specific aspects of the individuals performance to consider for evaluation in the section.</p>

    <p>At the bottom of the form, you will find a 'Save Feedback' button that can be used to save the feedback. You can come back later to continue updating it until you click 'Submit Final'</p>

    <p>There are three categories to organize your detailed feedback for each of the overall
    Sections. If you find the individual you are reviewing falls under two categories (perhaps both Meeting
    & Exceeding expectations) for a given section, please include both responses. There is no need to include
    responses in all categories, if it does not apply.</p>
  </div>

  <br />
  <div class="span9">
  <div id="accordion">

    <h3>Role competence </h3>
    <div>
      <p> <b>Understanding:</b> Tech stack, domain, trust to onboard others <br />
      <b>Ownership of concept:</b> go-to person for specific questions, accountability, leads discussions, confidence<br />
      <b>Learnings:</b> Eager to learn new tools/apps/languages, ability to apply learnings, innovative, side projects, self directed learnings<br />
      <b>Effective collaborator:</b> Good knowledge transfer, effective pair, knows shortcut keys, drives/navagates/rotates pairs, desk checks<br /></p>

      <div class="field">
        <%= f.label :role_competence_went_well %><br />
        <%= f.text_area :role_competence_went_well %>
      </div>
      <div class="field">
        <%= f.label :role_competence_to_be_improved %><br />
        <%= f.text_area :role_competence_to_be_improved %>
      </div>
      <div class="field">
        <%= f.label :role_competence_action_items %><br />
        <%= f.text_area :role_competence_action_items %>
      </div>
      <div class="scale">
        <%= f.label "Please use a scale to prioritze areas you feel the reviewee should focus." %>
        <%= f.select :role_competence_scale, feedback_priorities, :include_blank => "Select a scale" %>
      </div>
      <%= f.submit 'Save Feedback', :class => "save_feedback_button" %> 
    </div>

    <h3>Consulting Skills </h3>
    <div>
      <p><b>Customer Commitment:</b> understand what the client really needs, understand deadlines and why they are important, building relationships with the client, being able to influence client developers to use technologies<br />
      <b>Communication skils:</b> Asks questions, professionally offers concerns and alternative solutions, ability to influence, push back when needed<br />
      <b>Delivery:</b> Stretches to deliver if need be, understands need to deliver on time<br />
      <b>Aware of Perceptions:</b> professional client facing presence, good understanding of business needs vs. personal wants<br /></p>

      <div class="field">
        <%= f.label :consulting_skills_went_well %><br />
        <%= f.text_area :consulting_skills_went_well %>
      </div>
      <div class="field">
        <%= f.label :consulting_skills_to_be_improved %><br />
        <%= f.text_area :consulting_skills_to_be_improved %>
      </div>
      <div class="field">
        <%= f.label :consulting_skills_action_items %><br />
        <%= f.text_area :consulting_skills_action_items %>
      </div>
      <div class="scale">
        <%= f.label "Please use a scale to prioritze areas you feel the reviewee should focus." %>
        <%= f.select :consulting_skills_scale, feedback_priorities, :include_blank => "Select a scale" %>
      </div>
      <%= f.submit 'Save Feedback', :class => "save_feedback_button" %> 
    </div>

    <h3>Teamwork</h3>
    <div>
      <b>Relationship building:</b> Working with team members, conflict resolution, people want to work with you again<br />
      <b>Feedback:</b> Ability to deliver and ask for feedback, reacts well to feedback<br />
      <b>Attitude:</b> Approachable, enthusiastic, helpful, respectful, will work outside of 40 hours to help project if needed<br />
      <b>Professionalism:</b> Professional client-facing presence, punctual, turns in time sheets, acceptable attendance and visability to team<br /></p>

      <div class="field">
        <%= f.label :teamwork_went_well %><br />
        <%= f.text_area :teamwork_went_well %>
      </div>
      <div class="field">
        <%= f.label :teamwork_to_be_improved %><br />
        <%= f.text_area :teamwork_to_be_improved %>
      </div>
      <div class="field">
        <%= f.label :teamwork_action_items %><br />
        <%= f.text_area :teamwork_action_items %>
      </div>
      <div class="scale">
        <%= f.label "Please use a scale to prioritze areas you feel the reviewee should focus." %>
        <%= f.select :teamwork_scale, feedback_priorities, :include_blank => "Select a scale" %>
      </div>
      <%= f.submit 'Save Feedback', :class => "save_feedback_button" %>
    </div>

    <h3>Contritubions </h3>
    <div>
      <p><b>Knowledge Sharing:</b> L&Ls, HOD, Away Day, JC Continuing Learning Sessions, hallway chats<br />
      <b>Suggestions</b> for further development<br />
      <b>Social Resposibility:</b> Awareness, involvement, contribution<br />
      <b>TW sponsored events: ex:</b> SIP, Black Girls Code, Rails Girls, Black @ TW, WNB<br /></p>

      <div class="field">
        <%= f.label :contritubions_went_well %><br />
        <%= f.text_area :contritubions_went_well %>
      </div>
      <div class="field">
        <%= f.label :contritubions_to_be_improved %><br />
        <%= f.text_area :contritubions_to_be_improved %>
      </div>
      <div class="field">
        <%= f.label :contritubions_action_items %><br />
        <%= f.text_area :contritubions_action_items %>
      </div>
      <div class="scale">
        <%= f.label "Please use a scale to prioritze areas you feel the reviewee should focus." %>
        <%= f.select :contritubions_scale, feedback_priorities, :include_blank => "Select a scale" %>
      </div>
      <%= f.submit 'Save Feedback', :class => "save_feedback_button" %> 
    </div>

</div>
<% end %>
<script>
	changeMadeAndUnsaved = false;

  $('#instructions-label').click(function() {
    $('#instructions').slideToggle();
  });

	$(':input').change(function() {
		changeMadeAndUnsaved = true;
	});
	
	$('.save_feedback_button').click(function() {
		changeMadeAndUnsaved = false;
	});
	
	$('.submit_feedback_button').click(function() {
		changeMadeAndUnsaved = false;
	});

	window.onbeforeunload = function() {
		if (changeMadeAndUnsaved) {
       		return "You have unsaved feedback.";
		}
   	};
</script>
