<%= form_for([@review, @feedback]) do |f| %>

  <div class="feedback-form-container">
    <div class="reviewer-info">
      <div class="field">
        <%= f.label t('feedback.feedback_by') %>

        <% if @feedback.errors[:user_string] %>
          <p class="field-error-message"><%= @feedback.errors[:user_string].first %></p>
        <% end %>

        <% if !additional %>
          <%= @user_name %>
        <% else %>
          <%= f.text_field :user_string %>
        <% end %>
      </div>

      <%= f.hidden_field :type, value: Feedback::PEER_REPORTED %>


      <div class="field">
        <%= f.label t('feedback.feedback_deadline') %>
        <p><%= @feedback.review.feedback_deadline %></p>
      </div>

      <div class="field">
        <%= f.label t('feedback.project_worked_on') %>
        <%= f.text_field :project_worked_on %>
      </div>

      <div class="field">
        <%= f.label t('feedback.role_description') %>
        <%= f.text_field :role_description %>
      </div>
    </div>

    <div class="feedback-form">
      <div id="accordion">
        <% @review.headings.each do |heading| %>
          <h3><%= @review.heading_title(heading) %></h3>
          <div>
            <%= raw @review.description(heading) %>

            <% @review.fields_for_heading(heading).each do |field| %>
              <div class="field">
                <%= f.label field %>
                <%= f.text_area field %>
              </div>
            <% end %>
            <% if @review.has_scale(heading) %>
              <div class="scale">
                <%= f.label @review.scale_field(heading), "Priority of this area moving forward." %>
                <%= f.select @review.scale_field(heading), feedback_priorities, {:include_blank => ""}, {:class => "feedback_scale" } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <br /><br />
      <div class="actions">
        <%= f.submit 'Save', { :id => "save-feedback-button" } %>
        <%= f.submit 'Preview & Submit', {:class => "success", :id => "preview-and-submit-button", :name => "preview_and_submit_button"} %>

        <% if edit_page %>
          <%= link_to "Delete", review_feedback_url(@review, @feedback), method: 'delete', class: "danger button pull-right", :id => "delete-button", :confirm => "Are you sure you want to delete this feedback? You will lose all progress you have made."  %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
