<%= form_for([@review, @feedback]) do |f| %>

  <div class="feedback-form-container">
    <div class="feedback-form">
      <div id="accordion">
        <% @review.headings.each do |heading| %>
          <h3><%= @review.heading_title(heading) %></h3>
          <div>
            <%= raw @review.description(heading) %>

            <% @review.fields_for_heading(heading).each do |field| %>
              <div class="field">
                <%= f.label field %>
                <%= f.text_area field %>
              </div>
            <% end %>
            <% if @review.has_scale(heading) %>
              <div class="scale">
                <%= f.label @review.scale_field(heading), "Priority of this area moving forward." %>
                <%= f.select @review.scale_field(heading), feedback_priorities, {:include_blank => ""}, {:class => "feedback_scale" } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <br /><br />
      <div class="actions">
        <%= f.submit 'Save', { :id => "save-feedback-button" } %>
        <%= f.submit 'Preview & Submit', {:class => "success", :id => "preview-and-submit-button", :name => "preview_and_submit_button"} %>

        <% if edit_page %>
          <%= link_to "Delete", review_feedback_url(@review, @feedback), method: 'delete', class: "danger button pull-right", :id => "delete-button", :confirm => "Are you sure you want to delete this feedback? You will lose all progress you have made."  %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
