<p>
  <label>Tech exceeded</label>
  <%= @feedback.tech_exceeded %>
</p>

<p>
  <label>Tech met</label>
  <%= @feedback.tech_met %>
</p>

<p>
  <label>Tech improve</label>
  <%= @feedback.tech_improve %>
</p>

<p>
  <label>Client exceeded</label>
  <%= @feedback.client_exceeded %>
</p>

<p>
  <label>Client met</label>
  <%= @feedback.client_met %>
</p>

<p>
  <label>Client improve</label>
  <%= @feedback.client_improve %>
</p>

<p>
  <label>Ownership exceeded</label>
  <%= @feedback.ownership_exceeded %>
</p>

<p>
  <label>Ownership met</label>
  <%= @feedback.ownership_met %>
</p>

<p>
  <label>Ownership improve</label>
  <%= @feedback.ownership_improve %>
</p>

<p>
  <label>Leadership exceeded</label>
  <%= @feedback.leadership_exceeded %>
</p>

<p>
  <label>Leadership met</label>
  <%= @feedback.leadership_met %>
</p>

<p>
  <label>Leadership improve</label>
  <%= @feedback.leadership_improve %>
</p>

<p>
  <label>Teamwork exceeded</label>
  <%= @feedback.teamwork_exceeded %>
</p>

<p>
  <label>Teamwork met</label>
  <%= @feedback.teamwork_met %>
</p>

<p>
  <label>Teamwork improve</label>
  <%= @feedback.teamwork_improve %>
</p>

<p>
  <label>Attitude exceeded</label>
  <%= @feedback.attitude_exceeded %>
</p>

<p>
  <label>Attitude met</label>
  <%= @feedback.attitude_met %>
</p>

<p>
  <label>Attitude improve</label>
  <%= @feedback.attitude_improve %>
</p>

<p>
  <label>Professionalism exceeded</label>
  <%= @feedback.professionalism_exceeded %>
</p>

<p>
  <label>Professionalism met</label>
  <%= @feedback.professionalism_met %>
</p>

<p>
  <label>Professionalism improve</label>
  <%= @feedback.professionalism_improve %>
</p>

<p>
  <label>Organizational exceeded</label>
  <%= @feedback.organizational_exceeded %>
</p>

<p>
  <label>Organizational met</label>
  <%= @feedback.organizational_met %>
</p>

<p>
  <label>Organizational improve</label>
  <%= @feedback.organizational_improve %>
</p>

<p>
  <label>Innovative exceeded</label>
  <%= @feedback.innovative_exceeded %>
</p>

<p>
  <label>Innovative met</label>
  <%= @feedback.innovative_met %>
</p>

<p>
  <label>Innovative improve</label>
  <%= @feedback.innovative_improve %>
</p>
