<p>
  <b>Role Competence went well:</b>
  <%= @feedback.role_competence_went_well %>
</p>

<p>
  <b>Role Competence to be improved:</b>
  <%= @feedback.role_competence_to_be_improved %>
</p>

<p>
  <b>Role Competence action items:</b>
  <%= @feedback.role_competence_action_items %>
</p>

<p>
  <b>Role Competence scale:</b>
  <%= @feedback.role_competence_scale %>
</p>

<p>
  <b>Consulting Skills went well:</b>
  <%= @feedback.consulting_skills_went_well %>
</p>

<p>
  <b>Consulting Skills to be improved:</b>
  <%= @feedback.consulting_skills_to_be_improved %>
</p>

<p>
  <b>Consulting Skills action items:</b>
  <%= @feedback.consulting_skills_action_items %>
</p>

<p>
  <b>Consulting Skills scale:</b>
  <%= @feedback.consulting_skills_scale %>
</p>
<p>
  <b>Teamwork went well:</b>
  <%= @feedback.teamwork_went_well %>
</p>

<p>
  <b>Teamwork to be improved:</b>
  <%= @feedback.teamwork_to_be_improved %>
</p>

<p>
  <b>Teamwork action items:</b>
  <%= @feedback.teamwork_action_items %>
</p>

<p>
  <b>Teamwork scale:</b>
  <%= @feedback.teamwork_scale %>
</p>

<p>
  <b>Contributions went well:</b>
  <%= @feedback.contributions_went_well %>
</p>

<p>
  <b>Contributions to be improved:</b>
  <%= @feedback.contributions_to_be_improved %>
</p>

<p>
  <b>Contributions action items:</b>
  <%= @feedback.contributions_action_items %>
</p>

<p>
  <b>Contributions scale:</b>
  <%= @feedback.contributions_scale %>
</p>
