<div id="review">
  <p>
    <b>Role Competence went well:</b>
    <span id="role_competence_went_well"><%= @feedback.role_competence_went_well %></span>
  </p>

  <p>
    <b>Role Competence to be improved:</b>
    <span id="role_competence_to_be_improved"><%= @feedback.role_competence_to_be_improved %></span>
  </p>

  <p>
    <b>Role Competence scale:</b>
    <span id="role_competence_scale"><%= @feedback.role_competence_scale %></span>
  </p>

  <p>
    <b>Consulting Skills went well:</b>
    <span id="consulting_skills_went_well"><%= @feedback.consulting_skills_went_well %></span>
  </p>

  <p>
    <b>Consulting Skills to be improved:</b>
    <span id="consulting_skills_to_be_improved"><%= @feedback.consulting_skills_to_be_improved %></span>
  </p>

  <p>
    <b>Consulting Skills scale:</b>
    <span id="consulting_skills_scale"><%= @feedback.consulting_skills_scale %></span>
  </p>
  <p>
    <b>Teamwork went well:</b>
    <span id="teamwork_went_well"><%= @feedback.teamwork_went_well %></span>
  </p>

  <p>
    <b>Teamwork to be improved:</b>
    <span id="teamwork_to_be_improved"><%= @feedback.teamwork_to_be_improved %></span>
  </p>

  <p>
    <b>Teamwork scale:</b>
    <span id="teamwork_scale"><%= @feedback.teamwork_scale %></span>
  </p>

  <p>
    <b>Contributions went well:</b>
    <span id="contributions_went_well"><%= @feedback.contributions_went_well %></span>
  </p>

  <p>
    <b>Contributions to be improved:</b>
    <span id="contributions_to_be_improved"><%= @feedback.contributions_to_be_improved %></span>
  </p>

  <p>
    <b>Contributions scale:</b>
    <span id="contributions_scale"><%= @feedback.contributions_scale %></span>
  </p>
</div>