<p>
  <b>Role Competence went well:</b>
  <%= simple_format(@feedback.role_competence_went_well) %>
</p>

<p>
  <b>Role Competence to be improved:</b>
  <%= simple_format(@feedback.role_competence_to_be_improved) %>
</p>

<p>
  <b>Role Competence scale:</b>
  <%= @feedback.role_competence_scale %>
</p>

<p>
  <b>Consulting Skills went well:</b>
  <%= simple_format(@feedback.consulting_skills_went_well) %>
</p>

<p>
  <b>Consulting Skills to be improved:</b>
  <%= simple_format(@feedback.consulting_skills_to_be_improved) %>
</p>

<p>
  <b>Consulting Skills scale:</b>
  <%= @feedback.consulting_skills_scale %>
</p>
<p>
  <b>Teamwork went well:</b>
  <%= simple_format(@feedback.teamwork_went_well) %>
</p>

<p>
  <b>Teamwork to be improved:</b>
  <%= simple_format(@feedback.teamwork_to_be_improved) %>
</p>

<p>
  <b>Teamwork scale:</b>
  <%= @feedback.teamwork_scale %>
</p>

<p>
  <b>Contributions went well:</b>
  <%= simple_format(@feedback.contributions_went_well) %>
</p>

<p>
  <b>Contributions to be improved:</b>
  <%= simple_format(@feedback.contributions_to_be_improved) %>
</p>

<p>
  <b>Contributions scale:</b>
  <%= @feedback.contributions_scale %>
</p>
