
<h1>Feedback Details</h1>
<h2>Associate Consultant: <%= @feedback.review.associate_consultant %></h2>
<H2>Review Type: <%= @feedback.review.review_type %></h2>

<p>
  <b>Reviewer:</b>
  <%= @feedback.reviewer %>
</p>

<p>
  <b>Project worked on:</b>
  <%= @feedback.project_worked_on %>
</p>

<p>
  <b>Role description:</b>
  <%= @feedback.role_description %>
</p>
<% if @feedback.new_review_format %>
  <%= render :partial => "show_new" %>
<% else %>
  <%= render :partial => "show_old" %>
<% end %>

<p>
  <b>Comments:</b>
  <%= simple_format(@feedback.comments) %>
</p>

<% if can? :edit, @feedback %>
  <%= link_to 'Edit', edit_review_feedback_path(@review, @feedback) %> |
<% end %>
