<p>
  <b>User:</b>
  <%= @feedback.user_id %>
</p>

<p>
  <b>Project worked on:</b>
  <%= @feedback.project_worked_on %>
</p>

<p>
  <b>Role description:</b>
  <%= @feedback.role_description %>
</p>

<p>
  <b>Tech exceeded:</b>
  <%= @feedback.tech_exceeded %>
</p>

<p>
  <b>Tech met:</b>
  <%= @feedback.tech_met %>
</p>

<p>
  <b>Tech improve:</b>
  <%= @feedback.tech_improve %>
</p>

<p>
  <b>Client exceeded:</b>
  <%= @feedback.client_exceeded %>
</p>

<p>
  <b>Client met:</b>
  <%= @feedback.client_met %>
</p>

<p>
  <b>Client improve:</b>
  <%= @feedback.client_improve %>
</p>

<p>
  <b>Ownership exceeded:</b>
  <%= @feedback.ownership_exceeded %>
</p>

<p>
  <b>Ownership met:</b>
  <%= @feedback.ownership_met %>
</p>

<p>
  <b>Ownership improve:</b>
  <%= @feedback.ownership_improve %>
</p>

<p>
  <b>Leadership exceeded:</b>
  <%= @feedback.leadership_exceeded %>
</p>

<p>
  <b>Leadership met:</b>
  <%= @feedback.leadership_met %>
</p>

<p>
  <b>Leadership improve:</b>
  <%= @feedback.leadership_improve %>
</p>

<p>
  <b>Teamwork exceeded:</b>
  <%= @feedback.teamwork_exceeded %>
</p>

<p>
  <b>Teamwork met:</b>
  <%= @feedback.teamwork_met %>
</p>

<p>
  <b>Teamwork improve:</b>
  <%= @feedback.teamwork_improve %>
</p>

<p>
  <b>Attitude exceeded:</b>
  <%= @feedback.attitude_exceeded %>
</p>

<p>
  <b>Attitude met:</b>
  <%= @feedback.attitude_met %>
</p>

<p>
  <b>Attitude improve:</b>
  <%= @feedback.attitude_improve %>
</p>

<p>
  <b>Professionalism exceeded:</b>
  <%= @feedback.professionalism_exceeded %>
</p>

<p>
  <b>Professionalism met:</b>
  <%= @feedback.professionalism_met %>
</p>

<p>
  <b>Professionalism improve:</b>
  <%= @feedback.professionalism_improve %>
</p>

<p>
  <b>Organizational exceeded:</b>
  <%= @feedback.organizational_exceeded %>
</p>

<p>
  <b>Organizational met:</b>
  <%= @feedback.organizational_met %>
</p>

<p>
  <b>Organizational improve:</b>
  <%= @feedback.organizational_improve %>
</p>

<p>
  <b>Innovative exceeded:</b>
  <%= @feedback.innovative_exceeded %>
</p>

<p>
  <b>Innovative met:</b>
  <%= @feedback.innovative_met %>
</p>

<p>
  <b>Innovative improve:</b>
  <%= @feedback.innovative_improve %>
</p>

<p>
  <b>Comments:</b>
  <%= @feedback.comments %>
</p>

<p>
  <b>Review:</b>
  <%= @feedback.review_id %>
</p>


<% if can? :edit, @feedback %>
  <%= link_to 'Edit', edit_review_feedback_path(@review, @feedback) %> |
<% end %>
<%= link_to 'Back', review_path(@review) %>
