<h1>Feedback Details</h1>
<h2>Junior Consultant: <%= @feedback.review.junior_consultant %></h2>
<H2>Review Type: <%= @feedback.review.review_type %></h2>

<p>
  <b>Reviewer:</b>
  <%= @feedback.reviewer %>
</p>

<p>
  <b>Project worked on:</b>
  <%= @feedback.project_worked_on %>
</p>

<p>
  <b>Role description:</b>
  <%= @feedback.role_description %>
</p>

<p>
  <b>Role Competence went well:</b>
  <%= @feedback.role_competence_went_well %>
</p>

<p>
  <b>Role Competence to be improved:</b>
  <%= @feedback.role_competence_to_be_improved %>
</p>

<p>
  <b>Role Competence action items:</b>
  <%= @feedback.role_competence_action_items %>
</p>

<p>
  <b>Role Competence scale:</b>
  <%= @feedback.role_competence_scale %>
</p>

<p>
  <b>Consulting Skills went well:</b>
  <%= @feedback.consulting_skills_went_well %>
</p>

<p>
  <b>Consulting Skills to be improved:</b>
  <%= @feedback.consulting_skills_to_be_improved %>
</p>

<p>
  <b>Consulting Skills action items:</b>
  <%= @feedback.consulting_skills_action_items %>
</p>

<p>
  <b>Consulting Skills scale:</b>
  <%= @feedback.consulting_skills_scale %>
</p>
<p>
  <b>Teamwork went well:</b>
  <%= @feedback.teamwork_went_well %>
</p>

<p>
  <b>Teamwork to be improved:</b>
  <%= @feedback.teamwork_to_be_improved %>
</p>

<p>
  <b>Teamwork action items:</b>
  <%= @feedback.teamwork_action_items %>
</p>

<p>
  <b>Teamwork scale:</b>
  <%= @feedback.teamwork_scale %>
</p>

<p>
  <b>Contritubions went well:</b>
  <%= @feedback.contritubions_went_well %>
</p>

<p>
  <b>Contritubions to be improved:</b>
  <%= @feedback.contritubions_to_be_improved %>
</p>

<p>
  <b>Contritubions action items:</b>
  <%= @feedback.contritubions_action_items %>
</p>

<p>
  <b>Contritubions scale:</b>
  <%= @feedback.contritubions_scale %>
</p>

<p>
  <b>Comments:</b>
  <%= @feedback.comments %>
</p>

<% if can? :edit, @feedback %>
  <%= link_to 'Edit', edit_review_feedback_path(@review, @feedback) %> |
<% end %>
<%= link_to 'Home', welcome_index_path %>
