<%= form_for(@reviewing_group_member) do |f| %>
  <% if @reviewing_group_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reviewing_group_member.errors.count, "error") %> prohibited this reviewing_group_member from being saved:</h2>

      <ul>
      <% @reviewing_group_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reviewing_group_id %><br />
    <%= f.select :reviewing_group_id, ReviewingGroup.all.map { |rg| [rg.name, rg.id]} %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.all.map { |user| [user.name, user.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
