<%= form_for(@reviewing_group_member) do |f| %>
  <% if @reviewing_group_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reviewing_group_member.errors.count, "error") %> prohibited this reviewing_group_member from being saved:</h2>

      <ul>
      <% @reviewing_group_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reviewing_group_id %><br />
    <%= f.select :reviewing_group_id, alphabetically_sorted_reviewing_groups %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select :user_id, users_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
