<h1>Listing Reviewing Group Members</h1>

<%= link_to 'New Reviewing group member', new_reviewing_group_member_path, :class => 'btn btn-info' %>

<table>
  <tr>
    <th>Reviewing group</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

  <% @reviewing_group_members.each do |reviewing_group_member| %>
      <tr>
    <td><%= reviewing_group_member.reviewing_group %></td>
    <td><%= reviewing_group_member.user %></td>
    <td><%= link_to 'Edit', edit_reviewing_group_member_path(reviewing_group_member) %></td>
    <td><%= link_to 'Destroy', reviewing_group_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<br />

