<p id="notice"><%= notice %></p>

<p>
  <b>Reviewing group:</b>
  <%= @reviewing_group_member.reviewing_group_id %>
</p>

<p>
  <b>User:</b>
  <%= @reviewing_group_member.user_id %>
</p>


<%= link_to 'Edit', edit_reviewing_group_member_path(@reviewing_group_member) %> |
<%= link_to 'Back', reviewing_group_members_path %>
