<section class="form-container">
<%= form_for(@review) do |f| %>

  <div class="field">
    <%= f.label :associate_consultant_id %>
    <p class="help-text"><%= @review.reviewee.name %></p>
  </div>

  <div class="field">
    <%= f.label :review_type %>
    <% if @review.errors[:review_type] %>
      <p class="field-error-message"><%= @review.errors[:review_type].first %></p>
    <% end %>
    <p class="help-text"><%= @review.review_type %></p>
  </div>

  <div class="field">
    <%= f.label :review_date %>
    <% if @review.errors[:review_date] %>
      <p class="field-error-message"><%= @review.errors[:review_date].first %></p>
    <% end %>
    <%= f.text_field :review_date, class: "datepicker future", placeholder: "yyyy-mm-dd"%>
  </div>

  <div class="field">
    <%= f.label :feedback_deadline %>
    <% if @review.errors[:feedback_deadline] %>
      <p class="field-error-message"><%= @review.errors[:feedback_deadline].first %></p>
    <% end %>

    <p class="help-text">The feedback deadline will help reviewers respond in a timely manner. Changing the deadline will notify reviewers via email.</p>
    <%= f.text_field :feedback_deadline, class: "datepicker future", placeholder: "yyyy-mm-dd"%>
  </div>

  <div class="actions">
    <%= f.submit "#{button_title}" %>
    <%= link_to "Cancel", review_path(@review), :class => "diet button" %>
  </div>
<% end %>
</section>
