<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="control-group">
        <% if @review.persisted? %>
          <%= f.label :junior_consultant_id %>
          <%= @review.junior_consultant.user.name %>
        <%else%>
          <%= f.label :junior_consultant_id %>
          <div class="controls">
            <%= f.text_field :junior_consultant_id, value: '', class: 'jc_with_autocomplete input-xlarge',
                             'data-autocompleteUrl' => autocomplete_user_name_path, remote: true %>
          </div>
        <%end%>
    </div>

    <div class="control-group">
      <%= f.label :review_type %>
      <div class="controls">
        <%= f.select :review_type, [['6-Month'],['12-Month'],['18-Month'],['24-Month']], class: "span4" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :review_date %>
      <div class="controls">
        <%= f.text_field :review_date, class: "datepicker input-medium", placeholder: "mm/dd/yyyy" %>
      </div>
    </div>  

    <div class="control-group">
      <%= f.label :feedback_deadline %>
      <div class="controls">
        <%= f.text_field :feedback_deadline, class: "datepicker input-medium", placeholder: "mm/dd/yyyy"%>
      </div>
      <p class="improvement_text pull-left">The feedback deadline will be displayed on the feedback form</p>
    </div>  

    <div class="control-group">
      <%= f.label :send_link_date %>
      <div class="controls">
        <%= f.text_field :send_link_date, class: "datepicker input-medium", placeholder: "mm/dd/yyyy" %>
      </div>
    </div>  

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
