<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @review.persisted? %>
      <%= f.label :associate_consultant_id %><br />
      <p class="help-text"><%= @review.associate_consultant.user.name %></p>
    <%else%>
      <%= f.label :associate_consultant_id %>
      <%= f.text_field :associate_consultant_id %>
    <%end%>
  </div>

  <div class="field">
    <%= f.label :review_type %>
    <%= f.select :review_type, [['6-Month'],['12-Month'],['18-Month'],['24-Month']], :include_blank => "Select Review Type" %>
  </div>

  <div class="field">
    <%= f.label :review_date %>
    <%= f.text_field :review_date, class: "datepicker", placeholder: "yyyy-mm-dd" %>
  </div>

  <div class="field">
    <%= f.label :feedback_deadline %><br />
    <p class="help-text">The feedback deadline will be displayed on the feedback form to help reviewers respond in a timely manner.</p>
    <%= f.text_field :feedback_deadline, class: "datepicker", placeholder: "yyyy-mm-dd"%>
  </div>

  <div class="field">
    <%= f.label :send_link_date %>
    <%= f.text_field :send_link_date, class: "datepicker", placeholder: "yyyy-mm-dd" %>
  </div>

  <div class="actions">
    <%= f.submit "#{button_title}", class: "btn btn-info" %> 
    <span class="separator">|</span> 
    <%= link_to 'Cancel', reviews_path, class: "btn btn-link" %>
  </div>
<% end %>
