<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :junior_consultant_id %><br />
    <%= f.select :junior_consultant_id, JuniorConsultant.all.map { |jc| [jc.name, jc.id] } %>
  </div>
  <div class="field">
    <%= f.label :review_type %><br />
    <%= f.select :review_type, [['6-Month'],['12-Month']] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
