<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :junior_consultant_id %><br />
    <%= f.select :junior_consultant_id, format_all_for_select(JuniorConsultant), :include_blank => "Select consultant" %>
  </div>
  <div class="field">
    <%= f.label :review_type %><br />
    <%= f.select :review_type, [['6-Month'],['12-Month'],['18-Month'],['24-Month']] %>
  </div>
  <div class="three-column">
    <div class="field">
      <%= f.label :review_date %><br />
      <%= f.date_select :review_date %>
    </div>
    <div class="field">
      <%= f.label :feedback_deadline %><br />
      <%= f.date_select :feedback_deadline %>
    </div>
    <div class="field">
      <%= f.label :send_link_date %><br />
      <%= f.date_select :send_link_date %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
