<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% if @review.persisted? %>
      <%= f.label :junior_consultant_id %>
      <%= @review.junior_consultant.name %>
    <%else%>
      <%= f.label :junior_consultant_id %><br />
      <%= f.text_field :junior_consultant_id, value: '', class: 'jc_with_autocomplete',
                       'data-autocompleteUrl' => autocomplete_jc_name_junior_consultants_path, remote: true %>
    <%end%>
  </div>

  <div class="field">
    <%= f.label :review_type %><br />
    <%= f.select :review_type, [['6-Month'],['12-Month'],['18-Month'],['24-Month']] %>
  </div>
  <div class="three-column">
    <div class="field">
      <%= f.label :review_date %><br />
      <%= f.date_select :review_date %>
    </div>
    <div class="field">
      <%= f.label :feedback_deadline %><br />
      <%= f.date_select :feedback_deadline %><br />
      <p class="improvement_text">The feedback deadline will be displayed on the feedback form</p>
    </div>
    <div class="field">
      <%= f.label :send_link_date %><br />
      <%= f.date_select :send_link_date %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
