<table class="reviews">
  <thead>
  <tr>
    <th>Junior Consultant</th>
    <th>Review Type</th>
    <th>Feedback Submitted</th>
    <% if can? :create, Review %>
        <th>Review Date</th>
        <th>Feedback Deadline</th>
        <th>Link Date</th>
        <th></th>
    <% end %>
    <% if can? :create, Invitation %>
        <th></th>
    <% end %>
    <th></th>
    <% if can? :show, Review %>
        <th></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
      <tr>
        <td><%= review.junior_consultant %></td>
        <td><%= review.review_type %></td>
        <td><%= review.feedbacks.where(:submitted => true).count  %></td>
        <% if can? :create, Review %>
            <td><%= review.review_date %></td>
            <td><%= review.feedback_deadline %></td>
            <td><%= review.send_link_date %></td>
            <td><%= link_to 'New Feedback', new_review_feedback_path(review), :class => 'new_feedback_link' %></td>
        <% end %>
        <% if can? :create, Invitation %>
            <td><%= link_to 'Invite Reviewer', new_review_invitation_path(review), :class => 'send_invite_link' %></td>
        <% end %>
        <td>
          <% if can? :summary, review %>
              <%= link_to 'View Summary', summary_review_path(review) %>
          <% end %>
        </td>
        <% if can? :read, review %>
            <td>
              <%= link_to 'Show', review %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br class="spacer" />

<script>
    $('.reviews').dataTable();
</script>
