<div class="form-container">
<table id="reviews" class="display" data-source="<%= reviews_url(format: "json") %>">
  <thead>
  <tr>
    <th>Associate Consultant</th>
    <th>Review Type</th>
    <th>Review Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <%# <% @reviews.each do |review| %1> %>

    <%#   <tr> %>
    <%#     <td><%= review.associate_consultant.user.name %1></td> %>
    <%#     <td><%= review.review_type %1></td> %>
    <%#     <td><%= review.review_date.to_s(:short_date) %1></td> %>
    <%#     <td><%= link_to("", review, class: "fa fa-eye fa-lg", title: "View") %1></td> %>
      <%# </tr> %>

    <%# <% end %1> %>
  </tbody>
</table>
</div>


<%# <%= will_paginate @reviews %1> %>


<script>
  $('table#reviews').dataTable({
    sPaginationType: "full_numbers",
    bServerSide: true,
    sAjaxSource: $('#reviews').data('source'),
    oLanguage: {
      sInfoFiltered: ""
    },
    aoColumnDefs: [
      { bSortable: false, aTargets: [ 3 ] },
      { sClass: "nowrap", aTargets: [ 0 ] },
      { sClass: "nowrap button-col", aTargets: [ 3 ] }
    ]
  });
</script>
