<table>
  <tr>
    <th>Junior consultant</th>
    <th>Review type</th>
    <th>Num Feedback Submitted</th>
    <th>'New Feedback' Link</th>
    <th colspan="3">Actions</th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.junior_consultant %></td>
    <td><%= review.review_type %></td>
    <td><%= review.feedbacks.count %></td>
    <td><%= link_to 'link', new_review_feedback_url(review) %></td>
    <td>
      <% if can? :read, review %>
        <%= link_to 'Show', review %>
      <% end %>
    </td>
    <td>
      <% if can? :edit, review %>
        <%= link_to 'Edit', edit_review_path(review) %>
      <% end %>
    </td>
    <td>
      <% if can? :destroy, review %>
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Review %>
  <%= link_to 'New Review', new_review_path %>
<% end %>
