<table class="reviews">
  <thead>
  <tr>
    <th>Junior Consultant</th>
    <th>Review Type</th>
    <th>Submitted / Total<br/>Feedback</th>
    <th>Invitations Sent</th>
    <% if can? :create, Review %>
        <th>Review Date</th>
        <th>Feedback Deadline</th>
        <th>Link Date</th>
    <% end %>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
      <tr>
        <td><%= review.junior_consultant %></td>
        <td><%= review.review_type %></td>
        <td class="feedback_submitted">
          <%= review.feedbacks.where(:submitted => true).count  %> / <%= review.feedbacks.count  %>
        </td>
        <td class="invitations_sent"> <%= review.invitations.count %> </td>
        <% if can? :create, Review %>
            <td class="review_date"><%= review.review_date %></td>
            <td class="feedback_deadline"><%= review.feedback_deadline %></td>
            <td class="send_link_date"><%= review.send_link_date %></td>
        <% end %>
        <td nowrap>|
        <% if can? :send_email, Review %>
            <%= link_to 'Email', send_email_review_path(review), remote: true, class: "send_email_link"%> |
        <% end%>
        <% if can? :create, Invitation %>
            <%= link_to 'Invite', new_review_invitation_path(review), :class => 'send_invite_link' %> |
        <% end %>
        <% if can? :summary, review %>
            <%= link_to 'Summary', summary_review_path(review) %> |
        <% end %>
        <% if can? :read, review %>
            <%= link_to 'Show', review %> |
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br class="spacer" />
<br class="spacer" />

<script>
    $('table.reviews').dataTable();
</script>
