<h2><%= review.review_type.titleize %> Review</h2>
<h3>Feedback Deadline: <%= review.feedback_deadline %></h3>
<h3>Review Date: <%= review.review_date %></h3>
<% if can? :manage, review %>
	<%= link_to 'New Feedback', new_review_feedback_path(review), :class => 'new_feedback_link' %> |
<% end %>
<% if can? :create, Invitation %>
    <%= link_to 'Invite Reviewer', new_review_invitation_path(review), :class => 'send_invite_link' %> |
<% end %>
<% if can? :create_additional, Feedback %>
  <%= link_to 'Additional Feedback', additional_review_feedbacks_path(review) %> |
<% end %>
<% if can? :summary, review %>
      <%= link_to 'View Summary', summary_review_path(review) %> 
<% end %>
  <%= render :partial => 'feedbacks/feedbacks', 
      :locals => {
          :feedbacks => review.feedbacks, :invitations => review.invitations
        } %>

<br class="spacer" />
<br class="spacer" />
<br class="spacer" />
<br class="spacer" />