<div class="sidenav">
  <ul>
    <li class="header">Manage Review</li>

    <% if can? :read, review %>
      <%= link_to review do %>
        <li>Track Feedback Progress</li>
      <% end %>
    <% end %>

    <% if can? :summary, review %>
      <%= link_to summary_review_path(review) do %>
        <li>Feedback Summary</li>
      <% end %>
    <% end %>

    <% if can? :create, (review.invitations.build && review.invitations.pop) %>
      <%= link_to new_review_invitation_path(review) do %>
        <li>Ask For Feedback</li>
      <% end %>
    <% end %>

    <% if can? :create, (review.self_assessments.build && review.self_assessments.pop) %>
      <% if review.self_assessments.count > 0 %>    
        <%= link_to edit_review_self_assessment_path(review, review.self_assessments.first) do %>
          <li>Update Self-Assessment</li>
        <% end %>
      <% else %>
        <%= link_to new_review_self_assessment_path(review) do %>
          <li>Submit Self-Assessment</li>
        <% end %>
      <% end %>
    <% end %>

    <% if can? :create, (review.feedbacks.build && review.feedbacks.pop) %>
      <%= link_to additional_review_feedback_path(review) do %>
        <li>Record External Feedback</li>
      <% end %>
    <% end %>

    <% if can? :update, review %>
      <%= link_to edit_review_path(review), id: "review_edit" do %>
        <li>Edit Review Details</li>
      <% end %>
    <% end %>

    <%= link_to url_for(:action => "summary", :controller => "reviews", :id => review, :format => "xlsx"), id: "export_to_excel" do %>
      <li>Export to <%= image_tag("excel_icon.gif", :class => "excel-image") %></li>
    <% end %>

    <% if current_user.admin? %>
      <li class="header">Admin Panel</li>
      
      <%= link_to send_email_review_path(@review), remote: true do %>
        <li>Email Review Info to AC</li>
      <% end %>


      <%= link_to @review, method: :delete, data: { confirm: "Are you sure you want to delete this review? This will also delete all associated feedback." }, id: "review_destroy" do %>
        <li>Delete Review</li>
      <% end %>

  <% end %>
  </ul>
</div>
