<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Junior consultant</th>
    <th>Review type</th>
    <th>Num Feedback Submitted</th>
    <th colspan="3">Actions</th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.junior_consultant %></td>
    <td><%= review.review_type %></td>
    <td><%= review.feedbacks.count %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path %>
