<h1>Review: <%= @review.junior_consultant %> - <%= @review.review_type %></h1>

<table>
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Project</th>
      <th>Date Submitted</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @review.feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.reviewer %></td>
        <td><%= feedback.project_worked_on %></td>
        <td><%= feedback.created_at.to_s %></td>
        <td>
          <% if can? :read, feedback %>
            <%= link_to 'Show', [@review, feedback] %>
          <% end %>
        </td>
        <td>
          <% if can? :edit, feedback %>
            <%= link_to 'Edit', edit_review_feedback_path(@review, feedback) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, feedback %>
            <%= link_to 'Destroy', [@review, feedback], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Feedback %>
  <%= link_to 'New Feedback', new_review_feedback_path(@review), :class => 'new_feedback_link' %>
<% end %>

<% if can? :create_additional, Feedback %>
  | <%= link_to 'Additional Feedback', additional_review_feedbacks_path(@review) %>
<% end %>

<% if can? :summary, @review %>
  | <%= link_to 'Show all', summary_review_path(@review) %>
<% end %>
<br /><br />

<% if can? :edit, @review %>
  <%= link_to 'Edit', edit_review_path(@review) %> |
<% end %>
<%= link_to 'Back', welcome_index_path %>
