<div class="row">
  <div id="navbar" class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix">
      <% @review.headings.each_with_index do |heading, index| %>
        <li><a href="#<%= index %>"><%= heading %></a></li>
      <% end %>
      <li><a href="#<%= @review.headings.count %>">Self-Assessment</a></li>
      <li>
        <%= link_to url_for(:format => 'xlsx'), id:"export_to_excel" do%>
            <p>Export to <%= image_tag('excel_icon.gif', :class => "excel-image") %></p>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="span10">
    <h1>Feedback for Review <%= @review %></h1>

    <% if current_user.admin? or current_user == @review.junior_consultant.user %>
        <% if @review.self_assessments.count > 0 %>
            <%= link_to("Update Self Assessment", 
                        edit_review_self_assessment_path(@review, @review.self_assessments.first), 
                        title: 'Update your own thoughts and goals pertaining to your current review') %>
        <% else %>
            <%= link_to("Submit Self Assessment", 
                        new_review_self_assessment_path(@review),
                        title: 'Add your own thoughts and goals pertaining to your current review') %>
        <% end %>
    <% end %>
<br>
    <%= link_to("Add Additional Feedback", 
                additional_review_feedbacks_path(@review),
                title: 'Add new feedback on behalf of a third party for your current review',
                rel: 'tooltip') %>
    <% @review.headings.each_with_index do |heading, index| %>
      <% header_group = @review.fields_for_heading(heading) %>
        <section class="sections" id="<%= index%>">
          <table class="review-table">
            <thead>
            <tr>
              <th class="caption-font">Info</th>
              <% header_group.each do |header| %>
                  <% if header.present? %>
                      <th class="caption-font <%= 'improvement_text' if header.match("improve")%><%='exceed_text' if header.match("exceed") %>">
                        <%= header.titleize %>
                      </th>
                  <% end %>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @feedbacks.each do |feedback| %>
                <tr >
                  <td class="caption-font">
                    <p><b>Date:</b> <%= feedback.updated_at.to_date %></p>
                    <p><b>By:</b> <%= feedback.reviewer %></p>
                    <p><b>Project worked on:</b> <%= feedback.project_worked_on %></p>
                    <p><b>Role:</b> <%= feedback.role_description %></p>
                  </td>
                  <% header_group.each do |header| %>
                      <% if header.present? %>
                          <td class="feedback-text <%= 'improvement_text' if header.match("improve")  %><%= 'exceed_text' if header.match("exceed") %>">
                            <%= simple_format(feedback.public_send(header)) %>
                          </td>
                      <% end %>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </section>
        <br />
    <% end %>

    <section class="sections" id="<%= @review.headings.count  %>">
      <h2>Self-Assessment</h2>
      <table>
        <thead>
        <tr>
          <th>Date/Time</th>
          <th>Self-Assessment Notes</th>
        </tr>
        </thead>
        <tbody>
        <% @review.self_assessments.each do |self_assessment| %>
            <tr>
              <td><%= self_assessment.updated_at.to_date %></td>
              <td><%= simple_format(self_assessment.response) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>
<script>
    $("#navbar").scrollspy();
    $(function() {
      $( document ).tooltip();
    });
</script>
