<h1>Feedback Summary</h1>
<h2><%= @review.pretty_print_with(current_user) %></h2>

<div class="container">
  <%= render :partial => "sidenav", :locals => { :review => @review } %>

  <div class="main-content">

    <% @review.headings.each_with_index do |heading, index| %>
      <% header_group = @review.fields_for_heading(heading) %>
        <section class="sections" id="heading<%= index%>">
          <h3><%= heading %></h3>
          <table class="review-table">
            <thead>
            <tr>
              <th>Info</th>
              <% header_group.each do |header| %>
                  <% if header.present? %>
                      <th>
                        <%= header.titleize %>
                      </th>
                  <% end %>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @feedbacks.each do |feedback| %>
                <% content = false %>
                <% header_group.each do |header| %>
                    <% field_value = feedback.public_send(header) %>
                    <% content = content || (header.present? && !field_value.nil? && field_value != "") %>
                <% end %>
                <% if content %>
                  <tr >
                    <td>
                      <p><b>Date:</b> <%= feedback.updated_at.to_date %></p>
                      <p><b>By:</b> <%= feedback.reviewer %></p>
                      <p><b>Project worked on:</b> <%= feedback.project_worked_on %></p>
                      <p><b>Role:</b> <%= feedback.role_description %></p>
                    </td>
                    <% header_group.each do |header| %>
                        <% if header.present? %>
                            <td>
                              <%= simple_format(feedback.public_send(header)) %>
                            </td>
                        <% end %>
                    <% end %>
                  </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </section>
        <br />
    <% end %>

    <section class="sections" id="heading<%= @review.headings.count  %>">
      <h3>Self-Assessment</h3>
      <table class="review-table">
        <thead>
        <tr>
          <th>Date/Time</th>
          <th>Self-Assessment Notes</th>
        </tr>
        </thead>
        <tbody>
        <% @review.self_assessments.each do |self_assessment| %>
            <tr>
              <td><%= self_assessment.updated_at.to_date %></td>
              <td><%= simple_format(self_assessment.response) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>
