<div class="content-container">
  <div id="review-categories" class="bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix">
      <% @review.headings.each_with_index do |heading, index| %>
        <li><a href="#heading<%= index %>"><%= heading %></a></li>
      <% end %>
      <li><a href="#heading<%= @review.headings.count %>" class="jump">Self-Assessment</a></li>
      <li>
        <%= link_to url_for(:format => 'xlsx'), id:"export_to_excel" do%>
            <p>Export to <%= image_tag('excel_icon.gif', :class => "excel-image") %></p>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="summary">
    <h1>Feedback Summary for <%= @review %></h1>

    <% @review.headings.each_with_index do |heading, index| %>
      <% header_group = @review.fields_for_heading(heading) %>
        <section class="sections" id="heading<%= index%>">
          <h2><%= heading %></h2>
          <table class="review-table">
            <thead>
            <tr>
              <th class="caption-font">Info</th>
              <% header_group.each do |header| %>
                  <% if header.present? %>
                      <th class="caption-font <%= 'improvement_text' if header.match("improve")%><%='exceed_text' if header.match("exceed") %>">
                        <%= header.titleize %>
                      </th>
                  <% end %>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @feedbacks.each do |feedback| %>
                <% content = false %>
                <% header_group.each do |header| %>
                    <% field_value = feedback.public_send(header) %>
                    <% content = content || (header.present? && !field_value.nil? && field_value != "") %>
                <% end %>
                <% if content %>
                  <tr >
                    <td class="caption-font">
                      <p><b>Date:</b> <%= feedback.updated_at.to_date %></p>
                      <p><b>By:</b> <%= feedback.reviewer %></p>
                      <p><b>Project worked on:</b> <%= feedback.project_worked_on %></p>
                      <p><b>Role:</b> <%= feedback.role_description %></p>
                    </td>
                    <% header_group.each do |header| %>
                        <% if header.present? %>
                            <td class="feedback-text <%= 'improvement_text' if header.match("improve")  %><%= 'exceed_text' if header.match("exceed") %>">
                              <%= simple_format(feedback.public_send(header)) %>
                            </td>
                        <% end %>
                    <% end %>
                  </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </section>
        <br />
    <% end %>

    <section class="sections" id="heading<%= @review.headings.count  %>">
      <h2>Self-Assessment</h2>
      <table>
        <thead>
        <tr>
          <th>Date/Time</th>
          <th>Self-Assessment Notes</th>
        </tr>
        </thead>
        <tbody>
        <% @review.self_assessments.each do |self_assessment| %>
            <tr>
              <td><%= self_assessment.updated_at.to_date %></td>
              <td><%= simple_format(self_assessment.response) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>
