<%= nested_form_for(@reviewing_group) do |f| %>
  <% if @reviewing_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reviewing_group.errors.count, "error") %> prohibited this Reviewing Group from being saved:</h2>

      <ul>
      <% @reviewing_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.fields_for :users do |builder| %>
      <%= builder.label "New Member" %>
      <%= builder.select :id, format_all_for_select(User), :include_blank => "Choose an existing user" %>
      <%= builder.link_to_remove "Remove this member" %>
    <% end %>
  </div>

  <p>
   <%# img class="glyph-plus" src="/assets/images/glyphicons_432_plus.png" %>
   <%= f.link_to_add "Add Member", :users %>
  </p>



  <%#
  # div class="field"
  #   <%= check_box_tag(:pet_dog) %
  #   <%= label_tag(:pet_dog, "I own a dog") %
  # </div>
  # %>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
