<section class="form-container">
<%= form_for(@reviewing_group) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <% if @reviewing_group.errors[:name] %>
      <p class="field-error-message"><%= @reviewing_group.errors[:name].first %></p>
    <% end %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :user_tokens, "Members" %>
    <%= f.text_field :user_tokens, "data-pre" => @reviewing_group.users.map(&:attributes).to_json %>
  </div>

  <div class="actions">
    <%= f.submit "#{button_title}" %>
    <%= link_to "Cancel", reviewing_groups_path, class: "diet button" %>
  </div>
<% end %>
</section>
