<h1>Manage Reviewing Groups</h1>

<%= link_to 'New Reviewing group', new_reviewing_group_path, :class => 'btn btn-info' %>

<table class="datatable">
  <thead>
  <th>Name</th>
  <th>Members</th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
  <% @reviewing_groups.each do |reviewing_group| %>
      <tr>
        <td><%= reviewing_group.name %></td>
        <td><%= reviewing_group.members %></td>
        <td><%= link_to 'Edit', edit_reviewing_group_path(reviewing_group) %></td>
        <td><%= link_to 'Delete', reviewing_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br />


<script>
    $('.datatable').dataTable();
</script>
