<h1>Manage Reviewing Groups</h1>

<div class="new-review"><%= link_to 'New Reviewing Group', new_reviewing_group_path, :class => 'button' %></div>

<table class="datatable">
  <thead>
  <th class="reviewing-group-col">Name</th>
  <th class="members-col">Members</th>
  <th class="action-small-col"></th>
  </thead>
  <tbody>
  <% @reviewing_groups.each do |reviewing_group| %>
      <tr>
        <td><%= reviewing_group.name %></td>
        <td><%= list(reviewing_group.users) %></td>
        <td>
          <ul>
            <li><%= link_to 'Edit', edit_reviewing_group_path(reviewing_group), class: "button link" %></li>
            <li><%= link_to 'Delete', reviewing_group, method: :delete, data: { confirm: 'Are you sure?' }, class: "button link" %></li>
          </ul>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br class="spacer" />
<br class="spacer" />

<script>
  $('.datatable').dataTable({
    bInfo: false,
    bPaginate: false,
    aoColumnDefs: [
      { bSortable: false, aTargets: [2] }
    ],
    bLengthChange: false,
    bFilter: false
  });
</script>
