<h1>Manage Reviewing Groups</h1>

<div class="new-review"><%= link_to 'New Reviewing Group', new_reviewing_group_path, :class => 'button' %></div>

<div class="form-container">
<table class="datatable">
  <thead>
  <th>Name</th>
  <th>Members</th>
  <th></th>
  </thead>
  <tbody>
  <% @reviewing_groups.each do |reviewing_group| %>
      <tr>
        <td class="nowrap"><%= reviewing_group.name %></td>
        <td><%= list(reviewing_group.users) %></td>
        <td class="nowrap button-col">
          <ul>
            <li>
              <%= link_to '',
                edit_reviewing_group_path(reviewing_group),
                class: "fa fa-pencil fa-lg fa-fw",
                title: "Edit"
              %>
            </li>
            <li>
              <%= link_to '',
                reviewing_group,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "fa fa-trash fa-lg fa-fw",
                title: "Delete"
              %>
            </li>
          </ul>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

<br class="spacer" />
<br class="spacer" />

<script>
  $('.datatable').dataTable({
    bInfo: false,
    bPaginate: false,
    aoColumnDefs: [
      { bSortable: false, aTargets: [2] }
    ],
    bLengthChange: false,
    bFilter: false
  });
</script>
