<header class="navigation">
  <section class="navigation-wrapper">    
    <section class="nav">
      <%= link_to "TW Review Site", root_path, class: "logo" %>

      <ul class="navigation-menu">
        <li><%= link_to "Home", root_path %></li>

        <% if signed_in? %>

            <% if can? :read, Feedback %>
              <li><%= link_to(feedbacks_user_path(current_user)) do %>
              Feedback Requests
              <span class="badge"> <%= open_requests(current_user) %></span>
                <% end %>
              </li>
            <% end %>

            <% if can? :index, Review %>
              <li> <%= link_to "Reviews", reviews_path %></li>
            <% end %>

            <% if current_user.admin? %>
              <li id="admin-menu" class="dropdown">
                <a href="#">
                  Admin Tasks
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Create Review", new_review_path %></li>
                  <%# <li class="divider"></li> %>
                  <li><%= link_to "Manage Users", users_path %></li>
                  <li><%= link_to "Manage Reviewing Groups", reviewing_groups_path %></li>
                </ul>
              </li>
            <%end%>
          </ul>

          <ul class="navigation-menu pull-right">
            <li id="user-menu" class="dropdown">
              <a href="#">
                <%= current_user %>
              </a>
              <ul class="dropdown-menu pull-right">
                <% if can? :read, current_user %>
                  <li><%= link_to "Profile", current_user %></li>
                <% end %>
                <li><%= link_to "Update Profile", edit_user_path(current_user) %></li>
                <%# <li class="divider"></li> %>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
            
        <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
        <% end %>

      </ul>
    </section>

  </section>
</header>
