<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <section id="<%= controller_name %>-<%= action_name %>">
      <%= render 'layouts/header' %>
      <section class="content-container">

        <section class="row">
          <% flash.each do |key, value| %>
            <section class="flash flash-<%= key %>">
              <%= simple_format(value) %>
            </section>
          <% end %>
        </section>

        <section class="container">
          <%= yield %>
        </section>

        <section class="gutter"></section>

      </section>
    </section>

    <%= render 'layouts/footer' %>

  </body>
</html>
