<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <section id="<%= controller_name %>-<%= action_name %>">
      <%= render 'layouts/header' %>
      <section class="content-container">
        <section class="row">
          <% flash.each do |key, value| %>
              <section class="flash flash-<%= key %>"><%= simple_format(value) %></section>
          <% end %>
        </section>

        <%= yield %>
        <%= render 'layouts/footer' %>
      </section>
    </section>

    <footer class="dev-env-panel">
      <% if ENV['OKTA-TEST-MODE'] %>
        <section id="dev-env-notification">
          Test Environment
        </section>
        <section id="okta-input">
          <p>Currently viewing as: <b><%= current_okta_name %></b></p>
          <%= form_tag '/set_temp_okta' do %>
            <%= text_field_tag 'temp-okta', nil, maxlength: 10, placeholder: 'Enter OKTA name' %>
            <%= submit_tag 'Change User', id: 'temp-okta-submit' %>
          <% end %>
        </section>
      <% end %>
    </footer>

  </body>
</html>
